[2022-09-05 19:26] adlerhurst commented on #4324
hi @pcdummy

Thanks for your report. I will have a look at it tomorrow and provide feedback asap

[2022-09-05 19:32] eliobischof commented on #3588
No. Added the question label and a better title and description.

[2022-09-05 19:33] pcdummy commented on #4324
Hey @adlerhurst,

many Thanks, a great Product you Switzerland guys made.

Kind regards from Vorarlberg,

René

[2022-09-05 21:13] fforootd commented on #4321
Some thoughts we should allow to extend id and access token as well as the introspect endpoint.

[2022-09-05 21:16] fforootd commented on #4311
A developer should be able to create and process JSON request and responses with a ZITADEL action.

[2022-09-06 09:14] adlerhurst commented on #4307
Hi @lordwelch we shipped a [fix](https://github.com/zitadel/zitadel/pull/4290) lately but it is not yet available in the `stable`-tag. The bug should be fixed using `zitadel:latest`-image instead of `zitadel:stable`.

[code]

[2022-09-06 11:59] adlerhurst commented on #4322
This error is a bit misleading because it can occur during setup phase. The user and app should be available after some seconds/minutes. Can you please retry after some minutes?

[2022-09-06 12:10] adlerhurst commented on #4324
Servus @pcdummy

I hope there are some hairs left after created this issue 😄 otherwise im really sorry 😄
Thanks for your nice words.

We will triage this in the next session and come back to you.

Thanks for your patience and kind regards from St. Gallen

Silvan

[2022-09-06 15:13] CMiksche opened #4330 "Invalid memory address or nil pointer dereference with start cmd, not happening with start-from-init"
**Describe the bug**
I run Zitadel with PostgreSQL. When I run the `start` command, I get the following error:

[code]

If I use the `start-from-init` command instead, everything works.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the current Zitadel 2.3.4 version
2. Setup with PostgreSQL
3. Run `zitadel start`
4. See error

**Expected behavior**
No error, same result like with `

[2022-09-06 16:39] CMiksche opened #4332 "PostgreSQL: Asset upload fails with 500 Internal Server Error"
**Describe the bug**
When using Zitadel with PostgreSQL, the Upload of Assets fails with the following error:

`Http failure response for https://(myinstance)/assets/v1/org/policy/label/icon/dark: 500 Internal Server Error`

and the following error from the binary:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download the current Zitadel 2.3.4 version
2. Setup with PostgreSQL
3.

[2022-09-06 20:23] adlerhurst commented on #4330
hi @CMiksche thanks for your report. I attached a PR which will fix this issue.

[2022-09-06 22:29] #4303 closed

[2022-09-07 05:56] livio-a opened #4334 "CLI: Version command"
### Discussed in https://github.com/zitadel/zitadel/discussions/4329

<div type='discussions-op-text'>

<sup>Originally posted by **CMiksche** September  6, 2022</sup>
Currently there is no way of showing the current zitadel version. `zitadel version` doesn't exist.

Especially for debugging, that small feature would be helpful.</div>

Dev Note:
We already build the version into the `cmd/build` pa

[2022-09-07 07:06] livio-a commented on #3995
performance was improved a lot by #4300 by creating two indexes (one for the write models and one for getting the latest active instances) and further changes in the spooling process

the changes in the spooling process could be applied to the old views (auth and admin) as well

[2022-09-07 07:07] livio-a commented on #3850
@stebenz started on this yesterday

[2022-09-07 08:35] #4330 closed

[2022-09-07 12:04] mffap opened #4335 "FIPS 140-2 compliance"
## Background
Some customers, especially with business in the US, require FIPS 140-2 Security Policy Compliance. Golang's crypto implementation is, by default, not suitable and cannot achieve compliance set out by FIPS.

## Proposal

- We can create dedicated FIPS Builds of ZITADEL, similar to what other Golang-using [companies like MinIO](https://github.com/minio/minio/blob/master/README.fips.md)

[2022-09-07 13:55] hernangonzalez commented on #4322
Hi @adlerhurst

Waiting did not work for me. In any case, 2 cents on that from me:
1. The error is being printed, are you saying it is safe to ignore those?
2. Waiting sec/min does not sound reliable to be honest. Initialisation steps are showing migration and preparation and the last one says "listening ...". That looks to me as "we are ready". If there are more works before being usable, can a m

[2022-09-07 13:56] hernangonzalez commented on #4322
@adlerhurst one last thing, I've moved to use Postgres and I no longer see the error and my user is available immediately. So will stay with that option.

[2022-09-07 21:57] hernangonzalez opened #4338 "Cannot create user for a new organisation."
**Describe the bug**
Cannot create user for a new organisation.

**Screenshots**
<img width="389" alt="Screen Shot 2022-09-07 at 22 53 50" src="https://user-images.githubusercontent.com/1162963/188990698-907326ac-dd80-46c8-b925-ce9a9a671a4e.png">

**Desktop (please complete the following information):**
 - OS: MacOS 12.5.1
 - Browser Safari
 - Version Zitadel, homebrew, 2.3.4
 - Postgres

**Additi

[2022-09-08 03:54] lordwelch commented on #4304
@adlerhurst Thank you this worked perfectly

[2022-09-08 03:54] #4304 closed

[2022-09-08 06:51] lordwelch commented on #4307
This does indeed work, however I've made a minimal example based off of https://docs.zitadel.com/docs/guides/deploy/loadbalancing-example
and it also fails webauthn, what do I need to do to make this work?
[zitadel.zip](https://github.com/zitadel/zitadel/files/9524377/zitadel.zip)

[2022-09-08 07:03] adlerhurst commented on #4338
Thanks for the report. The missing translation is bad.

I looked into the code and the error occurs if the email address is not valid. Did you pass an existing email address?

[2022-09-08 08:31] hernangonzalez commented on #4338
Yep, that was it. thanks @adlerhurst

[2022-09-08 08:39] livio-a commented on #4307
@lordwelch I've used your zip, (made en entry for narnian.us in my /etc/hosts) and i could setup U2F during login and passwordless in the console without any problem.

can you please check again?

[2022-09-08 09:12] mffap commented on #3757
Relates to https://github.com/zitadel/zitadel/discussions/2079

[2022-09-08 09:12] mffap commented on #3757
Asked again here: https://discord.com/channels/927474939156643850/927474939156643853/1017360779747536947

[2022-09-08 11:49] eliobischof opened #4340 "Redirect users without manager roles to /ui/console/me"
If users without manager roles click on the ZITADEL logo in console, they land here:
![image](https://user-images.githubusercontent.com/12727842/189114376-9d4f6c6a-a6f6-49a6-9323-25d461620ea9.png)

Maybe, they should only be able to navigate to /ui/console/me.
What do you think, @juergrinaldi?

[2022-09-08 13:28] lordwelch commented on #4307
Here is the log and screenshot from when I attempt it
[docker.log](https://github.com/zitadel/zitadel/files/9527182/docker.log)
![image](https://user-images.githubusercontent.com/7547075/189134646-8829bc69-f5bf-433b-9eaa-8b70d1f44806.png)

[2022-09-09 08:40] adlerhurst commented on #4307
thank you we will analyse the logs and come back to you asap

[2022-09-09 11:16] livio-a opened #4344 "User authentication: Additionally use email as loginname"
Currently users are identified by their loginname. Loginnames can either be a username suffixed by the org domain or an instance wide unique username (currently only email style). The question arose if it would be possible to enable to login by email as well (login by loginname would still be possible).

The idea was, that the identification (user matching) on the login screen would be possible wi

[2022-09-09 11:41] livio-a opened #4346 "[Console]: Cannot change API authentication method anymore"
In the current UI it's not possible to switch from JWT Profile authentication to Basic Auth and vice versa anymore.

[2022-09-09 11:44] livio-a commented on #4346
IMO this feature is not used very much and the workaround is to create a new api application, so priority is medium.

[2022-09-09 12:42] mffap opened #4347 "Rename Instance"
Request via support, if an instance can be renamed

**Acceptance criteria**
- [ ] System API
- [ ] Integration with Customer Portal

[2022-09-09 13:22] mffap commented on #2941
Agreed. Checked it out and seems to cumbersome atm. Tested Atlassian and Gitlab and seems to work fine.

[2022-09-09 13:26] eliobischof opened #4348 "GPG sign checksum files for releases"
We should [sign checksum files for future releases](https://goreleaser.com/customization/sign/#signing-checksums-and-artifacts) to make them verifyable.

Request and Example:
https://discord.com/channels/927474939156643850/928175516664602694/1017761784096112670

[2022-09-09 13:53] adlerhurst commented on #4311
tested by: https://github.com/zitadel/zitadel/pull/4337/files#diff-6376a943548141dfbc97afe1a868db5e22eafaff2241609a47a7a53c6eebd57fR112-R118

[2022-09-09 13:59] mffap commented on #4348
maybe something for @thesephirot ?

[2022-09-09 14:23] livio-a commented on #4344
@hifabienne and @fforootd please discuss that next week if possible so we can report back (at the latest the week after) to the client if and when it would be possible to do it.

[2022-09-09 15:30] adlerhurst commented on #4265
added api in phase 1

[2022-09-09 16:29] fforootd commented on #4348
Goreleaser provides ready made functions for this, checkout https://goreleaser.com/customization/sign/ and https://goreleaser.com/customization/docker_sign/

[2022-09-09 23:41] isodude commented on #4348
There's also cosign, like https://github.com/ory/keto/releases/ uses.

[2022-09-11 10:09] adlerhurst opened #4351 "make action calls in management api dynamic"
api changes:
- [ ] list flow types
- [ ] list trigger types based on flow type
- [ ] remove trigger- and flow- type enums from proto

console changes:
- [ ] call apis instead of hard coded
- [ ] ?

[2022-09-11 16:22] Redmauss opened #4353 "Zitadel giving "404 not found" on deployment"
Description:
Using default values, if I run `docker-compose up -d` causes the application to load but when I visit the url on port 8080 I get the following:
![image](https://user-images.githubusercontent.com/48031928/189537759-248c7ee0-7157-43a1-a4a2-ee9df3089588.png)
If I visit the `/ui/console` address I get the following on the webpage:
![image](https://user-images.githubusercontent.com/4803192

[2022-09-11 20:25] fforootd commented on #3756
Currently still missing is

[2022-09-11 21:03] fforootd commented on #4353
Hi @Redmauss

Thank you for raising this.

I think you need to instruct ZITADEL to use your IP as "host". ZITADEL ATM per default only listens to "localhost"

Please append then env: `ZITADEL_EXTERNAL_DOMAIN: {IP}` to your compose file

More infos can be found in the [docs](https://docs.zitadel.com/docs/guides/manage/self-hosted/custom-domain)

[2022-09-11 21:10] fforootd commented on #4185
In regard to "standard" fields

I think we should reduce it to username + secret(s).

This was raised in discord here https://discord.com/channels/927474939156643850/927866013545025566/1018606271697518683

This relates to #4254

[2022-09-11 21:12] fforootd commented on #4254
relates to #4344

[2022-09-11 21:23] fforootd commented on #4344
Generally Speaking I think we should allow multiple unique values for a user, e.g mail, phone, username, ...

So I think we should extend ZITADEL on that end. Although I am not sure how to proceed :grin: (yet)

[2022-09-11 22:14] Redmauss commented on #4353
Hi, I have applied that env to my docker-compose:
[code]

Unfortunately I get the exact same error.  Just for clarification, this is hosted on a server that has it's own LAN and NAT, I am just trying to access it over LAN with HTTP so I can take a look at the interface and features, then decide if I want to go further.

Please let me know if I am missing something.  Thanks for helping me!

[2022-09-11 22:21] fforootd commented on #4353
Oh, I think I made an Typo it should be `'ZITADEL_EXTERNALDOMAIN=10.0.9.5'`.

In that case the best approach is to define any DNS name you like and use that in the EXTERNALDOMAIN config 😁

[2022-09-12 02:51] Redmauss commented on #4353
Thank you for the tips, but it still isn't working.  I'm not sure if I need a DNS server setup on my firewall or if something else isn't working.

I will revisit this setup when I am more experienced with OPNsense, as I have other services working just fine over basic NAT but I cannot get a virtual IP to 1:1 NAT properly(was going to use this to troubleshoot zitadel)

Thank you very much for the h

[2022-09-12 05:55] juergrinaldi commented on #4340
If I user has no managing roles or thelike, they should only see their profile page. and imo there shouldn't be a ZITADEL logo in the first place, as the user has/had no contact with the brand ZITADEL. (because they probably come from our client's branded login etc...)

[2022-09-12 08:50] mffap commented on #4344
Same would go for our own instance of ZITADEL, used for the customer portal on zitadel.cloud. It might reduce the confusion about the account names. People are used to sign-up to Saa-Services with their email address.

[2022-09-12 11:30] DavideWalder opened #4359 "New domains show as verified if "Validate Org domains" is false"
**Describe the bug**
New domains show as verified even when they are not.

Side note: do "validation" and "verification" refer to the same action?

**To Reproduce**
1. Set "Validate Org domains" to false on both organization and instance
2. Create a domain
3. The domain shows as verified

**Additional context**
ZITADEL Cloud 2.3.3

[2022-09-12 12:08] DavideWalder opened #4360 "Can't reset label policy to instance default"
**Describe the bug**
When clicking on "Reset to Instance default" under Organization/Settings/Branding, I get this error:
[code]

**Additional context**
ZITADEL Cloud 2.3.3

[2022-09-12 12:21] DavideWalder commented on #4360
This also prevents the usage of the terraform provider, since the resource can only be created if there isn't one already, and
the existing resource can't be imported by ID since the `GetLabelPolicy` endpoint doesn't return the ID

[2022-09-12 13:05] adlerhurst commented on #4265
assumption: if loading actions fails it's okay to proceed the process

[2022-09-12 14:12] DavideWalder opened #4361 "OIDC IPD styling parameter not working as expected"
**Describe the bug**
The effect of `STYLING_TYPE_UNSPECIFIED` and `STYLING_TYPE_GOOGLE` seem to be inverted.

with `STYLING_TYPE_UNSPECIFIED`:
<img width="436" alt="Screenshot 2022-09-12 at 16 11 02" src="https://user-images.githubusercontent.com/58290976/189675935-647f5bc7-daa1-4dbc-b33c-9ebba4ea18d9.png">

with `STYLING_TYPE_GOOGLE`:
<img width="441" alt="Screenshot 2022-09-12 at 16 11 43" src="

[2022-09-12 16:18] #3088 closed

[2022-09-12 16:18] #3091 closed

[2022-09-12 16:18] #3092 closed

[2022-09-12 16:18] #3094 closed

[2022-09-12 16:18] #3336 closed

[2022-09-12 16:18] #3440 closed

[2022-09-12 16:18] #3612 closed

[2022-09-12 17:49] DavideWalder opened #4362 "Can't type username if organization name is too long"
**Describe the bug**
Aesthetics aside, it is not possible to type a user name if the domain overflows.

**Screenshots**
<img width="470" alt="Screenshot 2022-09-12 at 19 45 16" src="https://user-images.githubusercontent.com/58290976/189722086-d5d288bb-2041-4a5c-b07e-4589acfbd82a.png">

**Additional context**
ZITADEL Cloud 2.3.3

[2022-09-12 19:48] adlerhurst commented on #4359
Hi @DavideWalder thanks for your report we will have a look at it

[2022-09-12 19:50] adlerhurst commented on #4360
Hi @DavideWalder thanks for your report we will look at it asap

[2022-09-12 19:52] adlerhurst commented on #4361
Hi @DavideWalder thanks for all of your reports looks like you have a detailed look into zitadel. Thanks for that ☺️ we will go through your reports asap

[2022-09-12 19:55] adlerhurst commented on #4362
I think we limit the amount of characters there. Default is 200 but it makes no sense there because its a combination of multiple values. Thanks we will fix it asap

[2022-09-12 20:28] fforootd commented on #4353
What error do you see?

Still the instance not found?

[2022-09-12 21:04] fforootd commented on #2941
I think we can close this OKR goals since we reached it.

We can keep  the two issues open for further tracking

- #3089
- #3090

[2022-09-12 21:04] #2941 closed

[2022-09-12 22:03] fforootd commented on #4307
We also received reports for this issue to our support channels.
Lets look into this ASAP!

[2022-09-12 22:11] fforootd commented on #4082
Firefox (at least the snap version) on Ubuntu is definitely broken when a PIN is set.

I need to investigate further what the problem is.

[2022-09-12 22:21] fforootd commented on #4307
I just tested `Ubuntu 22.04.1 LTS` with the snap `firefox 104.0.2` in zitadel.cloud and it was working in console as well as in the login page.

Same result with MacOS and Safari. So it somewhat looks like a strange self-hosting issue.

[2022-09-12 22:30] fforootd commented on #4307
@lordwelch can you share your nginx config? I think that could be an issue it somewhat looks like http2 is not working properly. But that is a wild guess :grin:

A config that I know is working needs to inlcude this:

[code]

I just locally setup a new ZITADEL version 2.5.0 on my ubuntu and it worked flawless.

[2022-09-12 23:05] lordwelch commented on #4307
@fforootd docker-compose example attached, fails on both macOS and Fedora 36
Or you can download the one in the edited post above and it has the cert in the zip as well.
[zitadel.zip](https://github.com/zitadel/zitadel/files/9552295/zitadel.zip)

[2022-09-12 23:12] fforootd commented on #4307
I will try and run your exact example and see what it brings :grin:

[2022-09-12 23:37] fforootd commented on #4307
Ok, finally I can reproduce it. Not sure what the problem is ATM

![image](https://user-images.githubusercontent.com/9879976/189776321-b21c8a15-2fe6-4c2f-a11a-a2a378f4b730.png)

[2022-09-13 00:15] fforootd commented on #4307
This looks really like an odd encoding problem, or something like that.

[2022-09-13 02:49] swratten opened #4364 "Cannot change OIDC Token Lifetime Settings"
**Describe the bug**
When attempting to Adjust OIDC Token Lifetime settings on a fresh instance, an error is reported: OIDC Configuration not found

**To Reproduce**
Steps to reproduce the behavior:
1. Use Docker Compose example from Documentation
2. Login as zitadel-admin
3. Navigate to Instance Settings -> OIDC Token lifetime and expiration
4. Press Save
5. See error: OIDC Configuration not foun

[2022-09-13 06:33] lordwelch commented on #4307
I've ran into those before, some of the most annoying bugs to track down, but not with Go.

[2022-09-13 06:39] swratten commented on #4353
Hi, Sorry to jack your thread. I am also experiencing this exact issue.. (using docker compose)

I've tried doing all of the suggested fixes and am also stuck, I've tried setting the domain to the network host name with no success.

I've also noticed I get the same issues using a caddy reverse proxy inside the docker compose file (SSL and non-ssl) following the tls mode disabled / external guide [

[2022-09-13 06:52] swratten commented on #4353
<img width="490" alt="Screen Shot 2022-09-13 at 6 47 17 PM" src="https://user-images.githubusercontent.com/4234090/189830022-d48bccf0-f464-438e-96ef-75aa95c1dc58.png">
This is using SSL from Caddy, --tlsMode external, ZITADEL_EXTERNALSECURE=true and Caddyfile:

[code]

[2022-09-13 06:56] fforootd commented on #4353
@swratten you need to tell ZITADEL the externaldomain in your config.

In your case you need to add `ZITADEL_EXTERNALDOMAIN=shiny` to your docker-compose env.

[2022-09-13 06:59] fforootd commented on #4307
Haha true, what I can see so far is that it does not work when ZITADEL is behind an NGINX, but when connecting to the same ZITADEL without NGINX it does work fine.

So it looks really like a config issue with the NGINX.

[2022-09-13 07:06] swratten commented on #4353
@fforootd I have tried that just now, same result unfortunately.

[2022-09-13 07:09] fforootd commented on #4353
What response do you get when you access https://shiny/.well-known/openid-configuration ?

[2022-09-13 07:16] swratten commented on #4353
The console loads initially and redirects to /oauth/v2/authorize...
I now get: The requested redirect_uri is missing in the client configuration. If you have any questions, you may contact the administrator of the application.
[code]

[2022-09-13 07:18] fforootd commented on #4353
Can you stop and remove the existing containers and redo the setup.
In my eyes this should work.

[2022-09-13 07:39] swratten commented on #4353
[code]
did it fresh and cleared local storage, same deal.. will see if i can spot anything

[2022-09-13 09:19] DavideWalder opened #4365 "Redirected to organization page when clicking on user"
**Describe the bug**
The organization page is shown instead of showing the user page

**To Reproduce**
Steps to reproduce the behavior:
1. Select an organization (starting from another one)
2. Go to "Users"
3. Click on a user
4. The page shown is the organization, not the user

**Expected behavior**
The GUI should show the user

**Desktop (please complete the following information):**
 - OS: MacOS

[2022-09-13 12:28] hifabienne commented on #4314
There are multiple possibilities how to import/create to ZITADEL.
First we should describe which possibilites and maybe find out what is the solutions our customers want

[2022-09-13 12:31] mffap commented on #4314
My suggestion would be to use a standard format like SCIM as baseline. So it's clear how the records from a DYI implementation should look like and a standardized format for import of user records.

[2022-09-13 16:06] stebenz commented on #4307
@lordwelch we found the reason for the confusion, if you use the origin "https://narnian.us:443", which is the host header provided by nginx, it's not equal to the configured origin to the webauthn library, which doesn't need the port information as https = 443.

So a quick solution for your problem is to change your nginx.conf to :
` grpc_set_header Host $host;`
not
`grpc_set_header Host $host:$s

[2022-09-13 16:23] DavideWalder opened #4366 "Mismatching scopes between documentation and code"
**Describe the bug**
The scope prefix doesn't match between documentation and code
https://github.com/zitadel/zitadel/blob/7a5f7f82cfe650c083167febd158895d4ce28148/internal/api/oidc/client.go#L22
https://github.com/zitadel/zitadel/blob/7a5f7f82cfe650c083167febd158895d4ce28148/docs/docs/apis/openidoauth/claims.md?plain=1#L34

Also, the name `rolename` can be confusing since the available fields are

[2022-09-13 16:31] fforootd commented on #4307
Nice catch @stebenz !

[2022-09-13 17:13] lordwelch commented on #4307
That fixed it! Thanks for the support!

[2022-09-13 17:14] adlerhurst commented on #4307
Glad to hear that. We will leave the issue open to link the docs changes

[2022-09-13 17:29] DavideWalder opened #4367 "Introspection doesn't return the requested claims"
**Describe the bug**
By querying the introspection endpoint (using the [this implementation](https://github.com/zitadel/oidc/blob/550f7877f2ac22993ebd923e5f64cfbb9b225ab2/pkg/client/rs/resource_server.go#L14)) this claim `urn:zitadel:iam:user:metadata` is returned, even though in the [documentation](https://docs.zitadel.com/docs/apis/openidoauth/claims) it is declared as `When requested`.

Also, t

[2022-09-13 17:39] mffap commented on #4367
@DavideWalder do I understand correctly: you want to get the user metadata?
Not sure what you want to achieve from the description.

We have a guide on that where you can request the user metadata from the userinfo endpoint or include the data in the token: https://docs.zitadel.com/docs/guides/manage/customize/user-metadata

[2022-09-13 17:44] DavideWalder commented on #4367
Getting metadata and roles from the userinfo endpoint works, what I'm trying to understand is why when using introspection:
- I get the metadata even though I didn't request it (from the documentation it should only be returned when requested)
- I can't get the roles, which according to the documentation are available on request

[2022-09-13 17:44] mffap commented on #4365
@peintnermax I could reproduce this issue. Could you please have a look?

[2022-09-13 17:47] mffap commented on #4367
Ok, thanks about the clarification. I was confused by the title. We'll have a look.

[2022-09-13 18:25] DavideWalder opened #4368 "Domain discovery (identity brokering) doesn't work"
**Describe the bug**
I'm trying to set up domain discovery so that organizations can have different branding/IDPs but keeping a single login page.

I followed the guide on [identity brokering](https://docs.zitadel.com/docs/guides/integrate/identity-brokering#4-send-the-primary-domain-scope-on-the-authorization-request), but I can't get ZITADEL to show the correct login page after entering the user

[2022-09-13 22:35] swratten commented on #4353
Okay I got it figured out, I needed to read the manual properly.
So I got Non-SSL working through caddy with adding:
- 'ZITADEL_EXTERNALPORT=80'

And subsequently for SSL with caddy
- 'ZITADEL_EXTERNALPORT=443'

So working configuration as of now with docker-compose and Caddy reverse proxy:

[code]

And Caddyfile:
[code]

[2022-09-14 08:05] juergrinaldi opened #4370 "Bug: Info-Icon on 'Domains' leads to 'Page not found'"
When I click on the little i-icon next to the title under 'Domains', i get to a 'page not found' in docs.

![Image](https://user-images.githubusercontent.com/48990649/190097668-bb6b3264-9e7e-4930-a574-03410e4c8125.png)

There seems something wrong with the anchor on the page @peintnermax as I tried to copy it manually and when I enter it in browser I get the same result:
https://docs.zitadel.com/d

[2022-09-14 13:36] mffap commented on #3985
@fforootd can you please have look at this and do a first version until 19.9.
I would suggest one page under APIs with a brief description of what we have and where to find it. Maybe explain how to authenticate (if different than: https://docs.zitadel.com/docs/guides/integrate/access-zitadel-system-api or https://docs.zitadel.com/docs/guides/integrate/access-zitadel-apis)

[2022-09-14 14:04] DavideWalder commented on #4359
Thanks for the explanation, one thing that might still be confusing is what happens in this case:
1. Set `Validate Org domains` to false
2. Create a domain
3. Set `Validate Org domains` to true
4. The domain still shows as verified

I would expect to either get an error when I turn on `Validate Org domains` or to see the domain as not verified (or at least distinguishable from the ones that were a

[2022-09-14 14:14] stebenz commented on #4360
@DavideWalder can you try it again on zitadel.cloud as we have now v2.4.0 , there should already be a fix in the new release, if there is still a problem with resetting to instance default, please don't hesitate to comment this issue again

[2022-09-14 14:33] DavideWalder commented on #4360
@stebenz Now it works (successfully reset to instance default and created a custom label policy with Terraform), thanks!!!

[2022-09-14 14:33] #4360 closed

[2022-09-14 17:56] jochumdev opened #4373 "SAML Groups/Roles"
On [Discord](https://discord.com/channels/927474939156643850/927866013545025566/1019364909957533776) I asked for having Roles in the SAML IDP implementation.

"I've tried to setup Zitadel as IDP for Rancher as SP by using it's Keycloak SAML implementation, seems Rancher requires a Groups field, the SamlResponse from Zitadel doesn't include that: [zitadel/saml/.../attributes.go:59](https://github.c

[2022-09-15 04:41] hifabienne commented on #4359
Yes, we probably need some more states here. So we know if the domain got verified or "automatically" verified. I can also imagine to just change the mechanism, so you can set a property that says if verification is needed or not.

[2022-09-15 13:39] peintnermax opened #4378 "Implement gzip encoding in ZITADEL"
Currently assets are transferred without content-encoding and therefore use lots of network traffic. Brotli encoding could improve transfer sizes by almost 10x.
<img width="344" alt="Bildschirmfoto 2022-09-15 um 15 36 39" src="https://user-images.githubusercontent.com/10165752/190418083-6796e730-05e2-4b96-ac7d-28561cd4bd73.png">
<img width="634" alt="Bildschirmfoto 2022-09-15 um 15 39 50" src="htt

[2022-09-15 13:53] stebenz commented on #4364
We will have a look at it and give feedback ASAP.

[2022-09-15 14:36] hifabienne opened #4379 "Create organization shortcut doesn't work"
**Describe the bug**
When I click on the create organization shortcut nothing happens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the console of your instance
2. Click on "+ create organization" on the home page
3. nothing happens

**Expected behavior**
Get redirected to the creation form of the organization

It looks like the link is wrong.
org/create instead of orgs/create

[2022-09-15 14:44] fforootd commented on #4245
@hifabienne

[2022-09-15 14:53] fforootd commented on #4254
CC @hifabienne

[2022-09-15 15:00] hifabienne commented on #4344
Discussed with @fforootd
We think only the username should be used to login. But we like to allow to store the email in the username field.
With the following steps this should be enabled:
1. Suffix for usernames as optin: https://github.com/zitadel/zitadel/issues/4245
2. Allow rules for usernames: https://github.com/zitadel/zitadel/issues/4254
3. Remove the suffix/domain part completely, because

[2022-09-15 15:04] hifabienne commented on #4254
We will change the suffix/domain verification to optin on the username https://github.com/zitadel/zitadel/issues/4245
With this change it will be possible to use emails as username and this might need some rules (e.g domain)
As soon as we can set some rules, we can get rid of the suffix part completaly.

We might consider actions for the rules, where we just provide some specific templates for ema

[2022-09-15 15:23] #4379 closed

[2022-09-15 15:25] adlerhurst commented on #4320
seperate branch: https://github.com/zitadel/zitadel/pull/4377

[2022-09-15 15:29] stebenz commented on #4307
changes the docs with the correct example and additional info

[2022-09-15 15:38] #4307 closed

[2022-09-15 16:45] mffap commented on #4344
We should use this issue to provide users with a guide on how to configure the system for this use case.

[2022-09-15 18:47] DavideWalder commented on #4359
@hifabienne I see, having the option as you suggested would make sense, thanks!

Feel free to close the issue

[2022-09-15 22:24] fforootd commented on #4344
You mean customers who had the "old" default?

[2022-09-16 06:09] mffap commented on #4344
Ah ok, this becomes the new default? That was not clear to me from this discussion.

Still, we should provide a small concepts page with the options available, so that users can decide what to use.

[2022-09-16 06:21] fforootd commented on #4344
I get that, since it is discussed in https://github.com/zitadel/zitadel/issues/4245

Great point it would make sense to explain the "feature" in the docs

[2022-09-16 06:54] hifabienne commented on #4185
Before we can start with custom fields, we have to simplify the login and make some required fields not mandatory. This is tracked in this issue: #4190

[2022-09-16 07:38] peintnermax opened #4384 "Formatting and linting with prettier"
- [x] Migrate from stylelint to prettier for formatting and linting in console
- [ ] Use prettier to format cypress tests

[2022-09-16 08:30] hifabienne opened #4386 "Remove required fields from user"
As an administrator, I want to be able to create users with only a username, making other fields like email, first name, and last name optional, so that I can accommodate diverse user onboarding scenarios and streamline the creation process.

## Description

Currently, the user creation process requires several fields, such as email, first name, and last name, which can be restrictive in certain s

[2022-09-16 08:33] hifabienne commented on #4190
I made a separate issue for the not required fields, because this has some impacts on the login flow as well for some actions like password reset, etc. https://github.com/zitadel/zitadel/issues/4386

[2022-09-16 08:45] hifabienne commented on #4386
@livio-a do you see any other impacts this might have?

[2022-09-16 09:14] hifabienne opened #4387 "Register user with IDP not possible"
**Describe the bug**
If I like to register a user with an IDP I always get the error "User Not Found" (Command-4M0fs)
It looks like the process likes to link instead of creating a new user.
No matter if I have enabled the auto register or not

**To Reproduce**
Steps to reproduce the behavior:
1. Create a google IDP according to the docs https://docs.zitadel.com/docs/guides/integrate/identity-broke

[2022-09-16 09:34] #4338 closed

[2022-09-16 09:36] hifabienne commented on #4240
@peintnermax I saw you already merged the pr. Can we close this issue then?

[2022-09-16 10:58] peintnermax commented on #4240
The PR fixed some toast messages but not eventual consistency. It's still a TODO until behavior is consistent. I'll add a task for this and other places where eventual consistency is a problem

[2022-09-16 10:59] peintnermax opened #4388 "console: add deferred load where eventual consistency may be an issue"
- [x] Actions after creation

[2022-09-16 12:06] fforootd commented on #4265
Some thoughts concept wise on the flows and triggers.

I think we should seperate the flow along the following topics:

## Registration

- Check or write something to an external system (CRM, ERP,...)
- Deny registration for certain IP ranges or Geo regions (display error or redirect to external page)
- Dynamicly change registration fields (write data to metadata or external system)
- Enforce user

[2022-09-16 12:55] adlerhurst opened #4389 "Console doesn't applies appearance config on singed out page"
**Describe the bug**
If I have configured a branding on instance level and log out the default colours of ZITADEL are used to render the page

**To Reproduce**

1. Configure a branding on instance level2.
2. Sign out
3. See the wrong styling

**Expected behavior**

The custom branding is applied to all pages.

zitadel.cloud v2.4.0

[2022-09-16 13:02] mffap opened #4391 "SEO texts for login and register"
Users may want to customize their own SEO attributes for the hosted pages (excl. Console).
It's also unclear which language will be presented to robots.

![image](https://user-images.githubusercontent.com/1366906/190644864-b3edc950-e81c-497f-bf21-852ed4bfaa31.png)

**Acceptance criteria**
- [ ] Make Title meta-tags configurable
- [ ] Make Description meta-tags configurable

[2022-09-16 13:42] hifabienne opened #4392 "After logout mfa prompt does not show"
If I logout my user I do not have to enter my MFA again.
This happens with different users, some of them have registered multiple MFA options some of them only OTP.

[2022-09-16 13:50] stebenz opened #4393 "Increase maintainability for translations"
Description

We should increase maintainability for translations, which includes checking if unused translations exist in the language files and used translations that don't exist (anymore) in the language files.

Could be solved by using some sort of linter or plugin, maybe check [this](https://www.alexedwards.net/blog/i18n-managing-translations) (provided by @mffap) as well.

**Acceptance criter

[2022-09-17 16:04] lapin-b opened #4394 "Upgrading from version 2.4.0 to 2.5.0 on PostgreSQL results in a database error when accessing the console"
**Describe the bug**
When upgrading an established installation from version 2.4.0 to version 2.5.0, an HTTP request to the route `oauth/v2/keys` returns the HTTP code 500 with the following body:

[code]

The user sees a "blank" screen. Blank in quotes because the page template is rendered without the page body.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 2.4.0, the conf

[2022-09-19 07:34] hifabienne commented on #4368
Hi @DavideWalder

If I understand it correct, what you try to do is at the moment not possible.
We do not have the feature to link an existing user that has a local user right now, after entering the username.
The way to do this right now, is to click on the idp (e.g Google) button on the first screen, where you now enter the username. Then the user will be redirected to the idp. After authenticat

[2022-09-19 07:44] adlerhurst commented on #4387
was fixed in https://github.com/zitadel/zitadel/pull/4363

[2022-09-19 07:44] #4387 closed

[2022-09-19 07:47] DavideWalder commented on #4368
Thanks for the explanation, this might be difficult since we need to be able to have multiple customers each with their own IDP that can't be shown to the others.

For example with might have three customers each using their own Azure AD IDP, but we can't show as login options
- Google
- Azure AD (customer 1)
- Azure AD (customer 2)
- Azure AD (customer 3)

Is this on the roadmap or is there an al

[2022-09-19 07:56] fforootd commented on #4394
Hm this should work. Can you show us the commands and args you use to start zitadel with each run.

CC @adlerhurst

[2022-09-19 08:26] fforootd commented on #2998
@hifabienne I think we could take some inspiration of this project https://github.com/markbates/goth.

[2022-09-19 09:50] #4365 closed

[2022-09-19 11:35] #4384 closed

[2022-09-19 11:49] livio-a commented on #4367
Hey @DavideWalder

I checked your issue and can explain most of it. First of all the `When requested` in the docs means that you will have to request the scopes during the authorization request. The scopes will then be granted to the resulting (access / id) tokens.

In your case (using a PAT) there's no authorization request and the PAT is automatically given the metadata (and resourceowner) scope

[2022-09-19 12:12] livio-a commented on #4366
Hey @DavideWalder

The scope and claim are (almost) actually correct. The scope is without the `s` which makes kind of sense as you request a single role by it, e.g. `urn:zitadel:iam:org:project:role:key1` and / or `urn:zitadel:iam:org:project:role:key1` and the claim is with the `s` as it will return a list of roles:
[code]

But I've removed the {rolename} from the claim completely from the claim

[2022-09-19 12:17] #4366 closed

[2022-09-19 12:23] hifabienne commented on #4368
At the moment what you try to achieve is only possible with the primary domain scope.
We do not have this on our roadmap right now.
This Thursday we will have an internal meeting about some topics on how to improve the login flow. We will discuss this also and I will give you feedback after.

[2022-09-19 12:25] kpetremann commented on #4082
I've just tested, the non-snap Firefox (.deb) also has the problem

[2022-09-19 12:30] hifabienne commented on #4368
Just to understand correctly what you try to achieve:
The user gets to the login page and enters a loginname e.g fabienne@customer.ch
We can not find the user in ZITADEL but the domain customer.ch exists on an organisation.
We redirect to the branded page of the organisation

Or is is like:
The user gets to the login page and enters a loginname e.g fabienne@customer.ch
The user exists in ZITADEL,

[2022-09-19 14:28] lapin-b commented on #4394
The command is the following: (relative to `/opt/zitadel` to keep the command short)

[code]

If it should work, I assume that I misused the `start-from-init` command to make sure that the migrations are always applied ?

[2022-09-19 15:47] adlerhurst commented on #4394
Hi @lapin-b thanks for your report. I think the problem is, that an index name of the keys table is reused. Postgresql only allows the same index name per schema, cockroach allows per table. We will rename the index tomorrow.

[2022-09-20 06:13] DavideWalder commented on #4367
@livio-a Thanks for the explanation, I in fact misunderstood the `When requested` column. Also, I didn't get any role since the service user didn't have any grant on the project the API was part of.

[2022-09-20 06:13] #4367 closed

[2022-09-20 06:28] adlerhurst commented on #4265
@fforootd is `end` defined as the last code executed before return to the client or write data?

[2022-09-20 08:25] livio-a commented on #4392
@hifabienne i cannot reproduce this on any version

[2022-09-20 10:57] livio-a commented on #4392
waiting for customer feedback

[2022-09-20 14:41] hifabienne commented on #823
I will close this issue, because we do have the possibility to store org and user metadata. only thing that is missing is the frontend part for org metadata

[2022-09-20 14:41] #823 closed

[2022-09-20 14:54] adlerhurst commented on #4313
The structure will be as follows:

[code]

scripts will then look like this:
[code]

[2022-09-20 14:56] adlerhurst commented on #4320
the docs will follow this structure:

[code]

[2022-09-20 14:58] hifabienne opened #4416 "Organisation MetaData in Console"
We now have the possibility to add metadata on an org. This should be added to the console.

**Acceptance criteria**
- [ ] Add new metadata in console
- [ ] Remove metadata in console
- [ ] E2E Tests
- [ ] Add Docs

[2022-09-20 14:58] adlerhurst commented on #4309
http calls are supported through a module `zitadel/http`

[2022-09-20 15:17] stebenz opened #4417 "Create service account with credentials in instance setup"
Description

To use the instance setup in automation, a service account has to be created with IAM_OWNER permissions and credentials, so that for example terraform can fully automated create an instance and all the other necessary resources on top.

**Acceptance criteria**
- [x] Create service account in instance setup
- [x] Give service account permissions on instance
- [x] Return credentials fro

[2022-09-21 06:35] hifabienne opened #4419 "Add Org metadata to metadata scope"
We already have a scope for metadata that returns the metadata of the user. Now we also have organization metadata. We should make a second scope for requesting organization metadata.

**Acceptance criteria**
- [ ] Add scope urn:zitadel:iam:org:metadata
- [ ] ...

[2022-09-21 06:37] hifabienne commented on #4419
@livio-a @fforootd what should this scope return?
the metadata of the resourceowner org?
the metadata of the organisations where the user has authorizations?
Or do we even need both? And need to differ two scopes?

[2022-09-21 06:49] fforootd commented on #4419
I think the current change should allow for the resource owner metadata to be returned.

[2022-09-21 06:49] hifabienne opened #4420 "MetaData schema"
At the moment we allow everything on the metadata (user and organization). It might be helpful to be able to define some kind of schema how the metadata should look like.

**Acceptance criteria**
- [ ] ...
- [ ] ...

[2022-09-21 06:51] hifabienne commented on #4420
@fforootd this has been requested by you. Can you define what you like to achieve or what the acceptance criterias are?
Would it be just a regex I can add and the metadata key has to match? or is it more like adding a specific schema in front of the key if is is not already in the key. e.g urn:user:id

[2022-09-21 07:05] fforootd commented on #4420
I think we should give our users at one point the option to verify metadata against a citadel stored schema to enforce some structure on the metadata content.

I mainly think of this as a Go struct would look like. So defining types and if they can be empty looks like the sane process for me.

As a side note: when we allow users to define schema it might be more easy to allow them to do search que

[2022-09-21 07:40] fforootd opened #4421 "E2E Test in GH Action Broken"
We should look why our e2e test do not run successful.

[2022-09-21 08:22] hifabienne opened #4422 "Test add to project"
Description

**Acceptance criteria**
- [ ] ...
- [ ] ...

[2022-09-21 08:24] hifabienne commented on #4422
Was just a test

[2022-09-21 08:24] #4422 closed

[2022-09-21 08:27] eliobischof commented on #4421
On it

[2022-09-21 10:34] thesephirot opened #4423 "Broken image in initialisation emails, hostname missing"
**Describe the bug**
when setting images, the image hostname is missing in the images URL
this happens when the initialisation emails are sent.

 e.g.: https://assets/v1/$instance/policy/label/logo-someid

the image can be loaded when the hostname is added manually.

https://$HOSTNAME/assets/v1/$instance/policy/label/logo-someid

**Expected behavior**
the hostname should be added correctly to load

[2022-09-21 11:47] fforootd opened #4424 "Perfomance Testing"
## Description

We should define reproducible performance tests for ZITADEL.
This issues aims to outline the goal and task of such an undertaking.

## Goals

### Login 100 Mio. User a day (aka. 1200 Logins per second)

Tests:

- Login with Authorisation Code Flow (Username+Password)
- Login with Authorisation Code Flow (Passwordless)

### High Number of identities (> 100Mio)

TBB

### High Number

[2022-09-21 11:48] fforootd commented on #4424
@hifabienne I think this is a starting point for the customer inquire we have.

@adlerhurst @livio-a what do you think of these ideas

@eliobischof @thesephirot I think you two would be up for the task

[2022-09-21 11:52] adlerhurst commented on #4424
From a zitadel perspective it could get interesting to define the test parameters like amount of amount of instances, orgs, users, user types, projects

[2022-09-21 11:54] fforootd commented on #4424
Makes sense I will quickly adapt some ideas

[2022-09-21 13:54] eliobischof commented on #4421
I think it was resolved in the meantime https://github.com/zitadel/zitadel/actions/workflows/e2e.yml

[2022-09-21 13:58] fforootd commented on #4421
What resolved this?

It feels like the workflow dispatch works but not the triggered run

[2022-09-21 14:00] eliobischof commented on #4421
I'm sure this change did the trick https://github.com/zitadel/zitadel/issues/4421#issuecomment-1253747864

[2022-09-21 14:18] #4423 closed

[2022-09-21 16:00] thesephirot commented on #4424
I will try an initial setup with k6. for such amounts of users something like https://locust.io/ might do the trick as well

[2022-09-21 17:09] thesephirot opened #4427 "docs: knative-service.yaml is broken"
**Describe the bug**
the knative-service.yaml is broken:

https://docs.zitadel.com/docs/guides/deploy/knative

[code]
**To Reproduce**
$ kubectl apply -f https://raw.githubusercontent.com/zitadel/zitadel/main/deploy/knative/zitadel-knative-service.yaml

on a fresh knative cluster

**Expected behavior**
service should be created as with the command above

[2022-09-21 18:26] fforootd commented on #4424
Locust looks fine to me as well 😝

[2022-09-21 20:50] fforootd commented on #4082
Same on fedora with Firefox on the other hand Chrome works like a charm.

[2022-09-22 06:06] hifabienne commented on #4199
<img width="659" alt="image" src="https://user-images.githubusercontent.com/38692350/191670589-3616ac80-fffa-4ca7-ae2b-1189643ef9c3.png">

[2022-09-22 08:22] coelho commented on #3997
Is there a work-around for this issue when using OAuth2 Proxy? From what I see there is no current work-around.

[2022-09-22 08:51] hifabienne opened #4431 "Implement IDP Templates"
As a ZITADEL developer I can easily extend the code with an additional identity provider, so I only have to implement the specific logic of the provider

**Acceptance Criteria**
- [x] External identity providers can be extended with additional providers
- [x] All providers share some basic informations that are needed alway
      - Enable/Disable just in time provisioning
      - Allow Linking wit

[2022-09-22 08:51] hifabienne opened #4432 "Implement API for configuring idps based on templates"
As a developer I can add identity providers to the instance or an organization per API and only have to provide the provider specific settings.

**Acceptance Criteria**
- [ ] I can get a list of all configured identity providers on the instance
- [ ] I can get a list of all configured identity providers on the organization
- [ ] I can enable a new provider and only have to send the required inform

[2022-09-22 08:51] hifabienne opened #4433 "Extend Console to configure idp based on templates"
As a zitadel admin i want to be able to enable/disable identity providers and add some needed configuration based on the provider, so I do not have to know all information of a provider.

**Acceptance Criteria**
- [x] All possible providers are shown on the instance and organisation level
- [x] I can enable a new provider and have to add the needed information (e.b. client id, secret) on enabling

[2022-09-22 08:51] hifabienne opened #4434 "Extend login to use configured idps from templates"
The ZITADEL login is able to get the configured identity providers using the templates.

**Acceptance Criteria**
- [ ] All configured, enabled providers of the instance are shown
- [ ] When sending an organisation scope all configured, enabled providers of the organization are shown
- [ ] Login with a identity providers works
- [ ] Just in time update of a user works if just in time update is enab

[2022-09-22 08:51] hifabienne opened #4435 "Register API to register users"
As a developer/admin I want to be able to register users in ZITADEL per API with all the different authentication method possibilities.

**Acceptance Criteria**
- [ ] I can get a list of the possible register methods on an instance or a specific organization
- [ ] I can register a local user with a password
- [ ] I can register a local user with a password and a second factor
- [ ] I can register

[2022-09-22 08:52] hifabienne opened #4436 "Register API to register users with username password"

[2022-09-22 08:52] hifabienne opened #4437 "Register API to register users with passwordless"

[2022-09-22 08:52] hifabienne opened #4438 "Login API to login with idp user"
**Acceptance Criteria**
- [ ] Login User
- [ ] If user not exists either send error or send to register

[2022-09-22 09:10] hifabienne commented on #4432
Needs some information from #4431

[2022-09-22 09:25] hifabienne commented on #4436
Duplicate #4435

[2022-09-22 09:25] #4437 closed

[2022-09-22 09:39] rollicks-c commented on #3997
Hi Zitadel-Team

Can you give us an update on the status of this issue?
We were informed that this will be implemented within 2 to 4 weeks.

As you know, we will need it very soon now. Thank you

[2022-09-22 12:39] fforootd commented on #3997
Hi @rollicks-c and @coelho

In a few days (end of this month) we will release the option to defined custom claims with our actions feature.
This will allow you to create a small `js` snippet and use the roles from ZITADEL to add a claim to your tokens/userinfo with the flat roles (or in whatever format you like)

See the relating PR https://github.com/zitadel/zitadel/issues/4265

[2022-09-22 12:52] fforootd commented on #4368
Ok, so in regard to discovery. You would be fine of doing discovery on the "username" and route the user towards an organisation based on that mechanic?

In my mind the default could be to use the domain name suffix (when using the mail) to achieve this (somewhat close as we do it already).

Or do you have more complex needs for discovery? Because in that case we might opt more for an action to ac

[2022-09-22 13:24] DavideWalder commented on #4368
The flow could be:
- the user is presented with the login page of the instance
- the user enters its email address
- discovery:
    - if the domain of the address matches one of the organization domains, the user will be presented with that organization's login page
    - if the domain doesn't match, stay with the instance settings

From what I understand, the only attribute that uniquely identifi

[2022-09-22 17:33] adlerhurst commented on #4424
Not sure if i would add an additional programming language. Personally i
don’t have much Python knowledge.

On Wed, 21 Sep 2022 at 20:26, Florian Forster ***@***.***>
wrote:

[2022-09-23 04:10] fdelucchijr commented on #4344
This feature is very promising, as allows more mainstream users to interact with the login (custom domain based usernames isn’t the standard for B2C anymore), enabling more business to implement Zitadel without friction.
There’s any timeline for this feature for us fellow programmers to know when to spect the release?

[2022-09-23 05:29] fdelucchijr opened #4441 "Reset password don’t work without orgdomain"
**Describe the bug**
When reseting password for an existent user with “User Loginname must contain orgdomain” domain option disabled generates the message “Check your email for code” with the error message "User could not be found" , and no email is sent (even when everything in smtp is working for email validation, initialization, etc).

Probably related to `internal/api/ui/login/password_reset_h

[2022-09-23 06:53] hifabienne commented on #4441
Thanks for you report. We will have a look at it.

[2022-09-23 08:24] thesephirot commented on #4424
I am with you @adlerhurst , to me it is about the "best" solution for this kind of loadtesting. I am not stuck to a tool, but will evaluate the results.

[2022-09-23 09:51] rollicks-c commented on #3997
Sweet. Looking forward to your next release. Thank you. :-)

[2022-09-23 10:11] adlerhurst commented on #4424
@fforootd Would it make sense to define load profiles as well? Testing the average is fine by me but we all know that there will be a peak when people come back to work

[2022-09-23 10:28] fforootd commented on #4424
@adlerhurst I agree the 1200/s acts only as starting point to test the system under sustained load.

I think testing for 10000 logins per second is important as well.

[2022-09-23 11:56] fforootd commented on #4368
Ok, so I think in here are two action items then:

- Our "Domains" feature should be allowed to use as discovery feature based on the domainname
- After the discovery the user needs to be able to register and not only login.

@hifabienne @livio-a @adlerhurst what do you think of this... my2cents are the following

- Iteration of domains is fine with me... i see no way of avoiding that :grin:
- We

[2022-09-23 12:02] hifabienne opened #4448 "One register/login option directly open"
**Describe the bug**
If an organization has configured one idp and disabled login with username password, the user should be redirected directly to the idp if the organization is pre selected. At the moment the idp button is shown and no username field, but as soon as I click on the idp button an error user missing occures.

Also if I have no idps and only username and password is allowed register

[2022-09-23 12:04] thesephirot commented on #4424
there might be some challenges with k6, currently testing the memory

https://k6.io/docs/examples/data-parameterization/

"...For example, the Cloud service allocates 8GB of memory for every 300 VUs. ..."

[2022-09-23 12:08] #4245 closed

[2022-09-23 13:04] fforootd commented on #4424
In my assumption i already planed 64GB so it looks fine from that side, lets try and see how this turns out.

Btw. we do not necessary need a json to store the users. But instead we could generate deterministic usernames and passwords.

[2022-09-23 13:08] thesephirot commented on #4424
json is very easy to iterate as it has IDS I can pick with the VUs. But we can use any kind of loop

[2022-09-23 13:26] adlerhurst commented on #4233
An addition I just ran into. We should provide a possibility to verify keys. At the moment keys are redefined multiple times. This is very error prone since we don't check keys are added everywhere properly. Best case would be to define keys once and reuse them, but I think this is hard to achive. What could help here is writing a linter or github action to check wheter all keys are used and defin

[2022-09-23 15:53] adlerhurst commented on #4394
Hi @lapin-b sorry for the late reply. https://github.com/zitadel/zitadel/releases/tag/v2.6.0 fixes the problem

[2022-09-23 15:55] #4394 closed

[2022-09-23 16:46] adlerhurst opened #4450 "Await schema changes after projection creation"
Description

At the moment it is possible that background jobs of cockroach take longer than zitadel uses for the first insert. This leads into `failed_events` and in worst cases missed events. If this happens during `start-from-init` zitadel could get into an unusable state. E.g. if the initial instance is not written into the projection.

I propose to implement a wait step after table creation w

[2022-09-24 08:04] samjaninf opened #4452 "Trouble deploying, Message=Instance not found"
Hey all, was deploying this to see if it would be a good fit for out infrastructure and came up with an issue. I deployed it to kubernetes using the help chart and copied the values.yaml and modified it.

This is my values.yaml:
[code]

Now trying to go to the external.domain/ui/console specified under ExternalDomain gives me a `ID=QUERY-n0wng Message=Instance not found` Error in browser. And a 40

[2022-09-24 08:55] samjaninf commented on #4452
Forgot to include the annotations on my ingress:
[code]

[2022-09-26 07:32] fforootd commented on #4452
hi @samjaninf

The `instance not found` error is only raised when ZITADEL cannot map the `host`header to an instance. Most of the times its the proxy config. Although in the snippet you provide i do not spot a problem.

What response do you get when calling the endpoint external.domain/.well-known/openid-configuration

[2022-09-26 09:19] hifabienne commented on #4386
Maybe we should make a config, where you can configure if the email should be verified or not. depending on the config we will add this in the login flow or not

[2022-09-26 12:43] fforootd commented on #4386
Why not just the `loginname`?

I agree with @hifabienne we should allow our customers to define if verification is needed for the contact information

Depending on the configuration but generally speaking yes

[2022-09-26 13:54] SBejga opened #4455 "Installation with Postgres, login works, but then Unknown Content-type received"
Hello,

I am evaluating Zitadel as an IdP for our product. And we want also have a look at it, running in our own infrastructure to test and analyze a bit.

**Describe the bug**
We have a kubernetes Cluster and a Postgres Database. And I got a running stack of Zitadel.

I am able to login with created user and password (zitadel-admin) of FirstInstance Org.
But after Login I get the following error

[2022-09-26 16:23] adlerhurst commented on #4265
@livio-a @fforootd

Here are the outcomes i've written down:

# Flows and Triggers

## Login/Reigster Flow

* pre-discovery-trigger: when you land on `/ui/login/login` # additional question here: or when you get on `/ui/login/authorize`?
* post-discovery-trigger: user was assigned to organisation

* pre-login-trigger: user exists, has been loaded. Executes trigger and after trigger something happe

[2022-09-26 16:24] adlerhurst commented on #4265
# Proposal

## On event

request.oauth.token (id, access and refresh token)
request.oauth.introspect
request.oidc.userinfo

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

request
event
command

[code]

[code]

[2022-09-26 17:01] adlerhurst commented on #4265
# current flows

## external authentication

### Post Authentication

- /login/externalidp/callback: if oidc
- /login/jwt/authorize

### Pre Creation

- /externaluser/option (register)
- /login/externalidp/callback: if oidc
- /login/jwt/authorize

### Post Creation

- /externaluser/option (register)
- /login/externalidp/callback: if oidc
- /login/jwt/authorize

## complement token

### Userinfo cr

[2022-09-26 18:29] fforootd commented on #4455
I am somewhat sure that you need to configure you ingress to use ZITADEL as grpc backend.

A typical [nginx conf ](https://docs.zitadel.com/docs/guides/manage/self-hosted/proxy#tls-mode-external)looks somewhat like this

[code]

[2022-09-26 18:31] fforootd commented on #4455
I think the nginx ingress needs the following:

[code]

[2022-09-26 18:41] SBejga commented on #4455
@fforootd Yes! Those annotations was missing. Thanks a lot.

You may should add this somewhere in the kubernetes guide. This may depend on the specific ingress controller. But I would guess the nginx controller is frequently used.

With those annotation, I can login and use the console as expected. We will continue testing in detail, tomorrow.

[2022-09-26 18:47] #4455 closed

[2022-09-26 19:22] fforootd commented on #4265
I think taking inspiration from github action is a great idea.

I think it boils down to the following structure:

## On

The on clause to define what invokes the action.
This can be multiple triggers like a [GH action](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on)
The elements usable to invoke are either ZITADEL resources (users, projects, org...) or fl

[2022-09-26 21:28] samjaninf commented on #4452
Hey @fforootd, that's for looking into this. I get the same message about an instance not found.

Could it be that it's missing the regular Host header?

[2022-09-26 21:39] fforootd commented on #4452
It looks like you set the nginx config correctly, but can you please verify it is like this?

[code]

Other then that please give me the result of the call to external.domain/.well-known/openid-configuration

In its response you should see what gets forwarded to zitadel.

[2022-09-26 21:54] samjaninf commented on #4452
The result of the call to: `https://external.domain/.well-known/openid-configuration` results in a Instance not found as well.
`ID=QUERY-n0wng Message=Instance not found`

These are the annotations from doing a kubectl describe ingress:
![image](https://user-images.githubusercontent.com/6589200/192387460-95ba14a4-734a-4329-b31f-a256bf97710b.png)

[2022-09-26 21:58] fforootd commented on #4452
With what client are you testing? Curl or a browser?

[2022-09-26 22:16] samjaninf commented on #4452
Both. I tried with curl and with my browsers. Opera, Vivaldi, Firefox. The gives me the same message as the browser.

[2022-09-26 22:21] fforootd commented on #4452
Ok good to know because curl does not send the host headers :grin:

Still I am not sure why its not working in your setup. Can you check the configmap created in the zitadel namespace that it actually includes the externaldomain

[2022-09-26 22:28] fforootd commented on #4452
An additional thing you can do is check the nginx logs if they show what endpoint is being contacted as upstream.

[2022-09-26 22:52] mzch opened #4456 "Segmentation Fault when starting ziptadel server"
**Describe the bug**
Segmantation fault happens when `start-from-init` or `setup`.

**To Reproduce**
Steps to reproduce the behavior:
1. do `/usr/local/sbin/zitadel setup --config ./config/zitadel-config.yaml --config ./config/zitadel-secrets.yaml --config ./config/zitadel-init-steps.yaml --masterkeyFile ./config/master.key --tlsMode disabled`

**Expected behavior**
`start-from-init` or `setup` fi

[2022-09-26 23:11] fforootd commented on #4456
Hi @mzch

Thanks for raising this.

What ZITADEL version are you experiencing this?

@adlerhurst to me it looks like a problem with the sonyflake, whats you take on this?

[2022-09-27 00:23] samjaninf commented on #4452
The configmap does have the ExternalDomain key and it is correct.
![image](https://user-images.githubusercontent.com/6589200/192403000-1eaf5f62-ccd2-464e-9b0a-42d5e624315f.png)

The logs from the ingress are:
`loadbalancer.external.ip.address - - [27/Sep/2022:00:18:16 +0000] "GET /ui/console HTTP/2.0" 404 42 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chro

[2022-09-27 06:06] livio-a commented on #4386
I propose the display name, which is currently composed of `Firstname Lastname`. And would use the username / loginname if either of them is empty in the future.
Regardless of the field the current stored texts on the current instances might need a change. We could a best effort and change them to the new field if they're still in default or just leave it up to the admins to change them. I would g

[2022-09-27 06:14] mzch commented on #4456
I got and tried `v2.6.0`.

[2022-09-27 06:58] #4347 closed

[2022-09-27 07:09] hifabienne opened #4458 "Extend metrics endpoint"
We already have a metrics endpoint but this is only about how many request we had on each endpoint. We should extend the endpoint with the following metrics:

**Acceptance criteria**
- [ ] Login count
- [ ] Failed logins
- [ ] Logins per application
- [ ] Failed logins per application
- [ ] Org count
- [ ] Project count
- [ ] Application count
- [ ] User count
- [ ] User count per state
- [ ] Crea

[2022-09-27 07:19] hifabienne commented on #4368
This sounds good to me. Probably we should extend a policy, to configure if domain discovery is allowed or not.

[2022-09-27 07:32] adlerhurst commented on #4456
I will have a look at it today. There are multiple of this kind of issues

[2022-09-27 07:52] fforootd commented on #4452
What happens if you access ZITADEL inside your cluster with curl while setting the proper host header?

I want to verify if the nginx or zitadel is broken :grin:

[2022-09-27 10:53] #4364 closed

[2022-09-27 11:01] livio-a commented on #4058
i believe so... (https://github.com/zitadel/zitadel/pull/4426)

[2022-09-27 11:01] #4058 closed

[2022-09-27 11:50] hifabienne opened #4460 "Register form show sign in button"
At the moment we do have the possibility on the login screen to click register, but we do not have the possibility on the register to sign in if I already have an account. We should add a button for sign in

**Acceptance criteria**
- [x] Add sign in button on register form
- [x] Add sign in button on register possibilities screen
- [x] Extend custom texts

[2022-09-27 11:53] hifabienne opened #4461 "Split tos and dataprivacy checkbox"
At the moment we do have one checkbox for tos and dataprivacy. This is not correct from a legal perspectiv (This was mentioned by a customer working in this section)

**Acceptance criteria**
- [ ] Split tos and dataprivacy
- [ ] 2 checkboxes
- [ ] Check custom texts

[2022-09-27 12:10] hifabienne commented on #4351
Close due to new discussions about actions #4265

[2022-09-27 12:10] #4351 closed

[2022-09-27 12:31] hifabienne commented on #4370
this was fixed in #4126

[2022-09-27 12:31] #4370 closed

[2022-09-27 12:41] fforootd commented on #4353
hey @swratten feel free to reopen this issue if the error persists

[2022-09-27 12:41] #4353 closed

[2022-09-27 12:47] hifabienne commented on #4324
Hi @pcdummy
We do not have filled the footer text in our configuration either, and this works fine.
So probably there was also another problem.
I will close this issue for now, because it looks like it works for you.
Fell free to reopen if not.

[2022-09-27 12:47] #4324 closed

[2022-09-27 12:48] livio-a commented on #3803
seems like this is solved. please reopen if you still need help

[2022-09-27 12:48] #3803 closed

[2022-09-27 12:53] hifabienne commented on #4359
Problem was solved, will close this issue.

[2022-09-27 12:53] #4359 closed

[2022-09-27 13:23] hifabienne opened #4462 "Extend Login Policy"
The login policy should be extended to be able to configure if some of the steps should be shown or not. At the moment it is not possible to disable that mfa setup is shown in the login, even if it is not forced. Also it would be great to disable if an email should be verified for login or not.

**Acceptance criteria**
- [ ] Extend login policy: disableMfaSetupInLogin
- [ ] Mfa Setup should not be

[2022-09-27 13:32] fforootd commented on #4378
@livio-a i did a quick research on our CDN and LB side and they do not provide the option to gzip  the assets.

So I think our best option is to implement this in ZITADEL (i think certain api calls could also benefit from this)

[2022-09-27 13:34] fforootd commented on #4378
CC @hifabienne I think this has a medium prio, change if you feel otherwise

[2022-09-27 14:09] hifabienne commented on #4441
Hi @fdelucchijr
I just tried this by myself and could not reproduce it.
Can you please answer the following questions?

1. Did you already login with this user before?
2. If you go to the detail page of this user in the ZITADEL console with an administrator account. Can you see the events on the side? Can you see if a code was generated and if an email was sent?
This should look something like thi

[2022-09-27 14:28] fdelucchijr commented on #4441
Hi @hifabienne
The Zitadel cluster at my company is down for now (when I show my boss the Oauth2 Webview screen in our Flutter app they almost see it as blasphemy 🥲, I really loved your software as a developer standpoint).
I can only response the first question securely, but anything else I can help you with count on me.

1. Yes, but I tried also with a private browser window (also resetting the c

[2022-09-27 14:28] fforootd commented on #4378
Ok I was wrong https://cloud.google.com/cdn/docs/dynamic-compression

Since late September they support it:

![image](https://user-images.githubusercontent.com/9879976/192554188-671ec36e-1f11-438d-ac5e-21ccbb951a98.png)

@eliobischof can you check if we can quickfix this for the moment in the google cloud cdn

[2022-09-27 14:30] hifabienne commented on #4191
@livio-a is the logo problem solved with your fix?

[2022-09-27 14:31] fforootd commented on #4441
Well that's a bummer :cry:, maybe we can lend a hand to advocate in an other direction?

[2022-09-27 15:36] hifabienne opened #4463 "Domain Discovery"
If a user enters the loginname (with a domain), it should be possible to recognize the domain and send the user to the login page of this organization. Even if the user doesn't exist. In this case the user might wants to register.

**Acceptance criteria**
- [ ] Extend domain policy for domain discovery
- [ ] If domain is recognized the user should be sent to the login page of the organization

[2022-09-27 21:30] fdelucchijr commented on #4441
@fforootd Our CEO has already made up his mind for now, thank you for your kindness in replying.
That’s the reason because I was really active in the issues addressing friction with other models/architectures. She left me with the quote “Maybe we migrate in the future, let them grow till that time”, and that sound pretty decent coming from her.
As I say the main issues was friction related to our

[2022-09-27 21:39] adlerhurst commented on #4265
# simplified approach

It relies on the idea of pipelines by gitlab. You basically have two pipelines: `event` and `request`, represented in two files. There are no triggers like in the previous github actions based proposal.

the `event`-pipeline: is executed in background by nature (reactive).
the `request`-pipeline: is executed during an API call synchronously, by default.

A pipeline contains

[2022-09-27 21:47] fforootd commented on #4441
Thank you for the kind words, appreciate it :sunglasses:

We definitely have some ideas in our minds to address for deeper integrations in mobile/native apps.

[2022-09-28 05:22] livio-a commented on #4344
@fdelucchijr I start with this today. You can expect it to be release by early next week.

[2022-09-28 07:40] abogdanov37 commented on #3678
Hello everyone! I want to understand how to work with PAT. But can't find any documentation or examples. May be some draft are avaliable or any example in client library?

[2022-09-28 08:02] adlerhurst commented on #4265
# use cases

## requests

- As a user I want react on each request to check if conditions of the request apply to my use cases. E.g. I want to check if the client is in an ip subnet

### login api

- As a user I want to extend the claims of the access token to add information needed in my app
- As a user I want to extend the claims of the id token to add information needed in my app
- As a user I

[2022-09-28 09:41] SBejga opened #4464 "Making SAML2 Relay State optional"
Hello,

we are in evaluation of Zitadel as an IDP for our product. Most important feature is SSO with SAML2 and OIDC. Since SAML2 support is quite fresh in Zitadel, we had a look at it.

**Description**
According to our tests and your [docs](https://github.com/zitadel/zitadel/blob/7a5f7f82cfe650c083167febd158895d4ce28148/docs/docs/apis/saml/endpoints.md), Zitadel requires relayState Parameter.

Un

[2022-09-28 13:08] #4194 closed

[2022-09-28 13:08] #4198 closed

[2022-09-28 13:17] #2470 closed

[2022-09-28 13:48] hifabienne commented on #4361
This is already fixed, but issue was not closed. Will close this now

[2022-09-28 13:48] #4361 closed

[2022-09-28 14:10] DavideWalder commented on #4368
This is currently the only feature preventing us from using ZITADEL, as soon as the feature is in we can transition.

[2022-09-28 14:11] eliobischof opened #4469 "Prune SQL Statements"
**Describe the bug**

We should avoid SQL injection like situations. For example, if you use a tick in the database password config, ZITADEL fails to initialize the database. This is, because the SQL query created in *cmd/initialise/verify_user.go* for creating a database user contains a dynamic variable that is placed between ticks:

![image](https://user-images.githubusercontent.com/12727842/192

[2022-09-28 14:26] adlerhurst commented on #4265
brainstorming where to trigger actions/pipelines:
https://jamboard.google.com/d/1kz646GB_MXmHjX4sq05dXW3IwO2b35Fv3_rIjTMp8Ys/edit?usp=sharing

[2022-09-28 20:15] fdelucchijr commented on #4441
I will try to be present in the GH discussions related to that!
For now, @hifabienne can I help you with something more to reproduce this issue?

[2022-09-29 05:25] #4340 closed

[2022-09-29 05:25] #4093 closed

[2022-09-29 06:41] hifabienne commented on #4441
Hi @fdelucchijr

We did have some issues, that the emails land in the spam folder.
So maybe you can check your spam folder?

The other thing is how does your SMTP configuration look like?
And could you look into the failed events section? https://docs.zitadel.com/docs/concepts/eventstore/implementation#failed-events
If it failed to send the email you should probably see some errors there.

But as

[2022-09-29 07:52] fforootd commented on #4464
Thanks @SBejga for bringing this up!

@stebenz we should look into this next week.

I think the relay state is optional in the spec. for http post binding

![image](https://user-images.githubusercontent.com/9879976/192972977-5d666764-9995-4835-85c1-9506e0a74b22.png)

[2022-09-29 07:53] fforootd commented on #4464
FYI @livio-a

[2022-09-29 08:04] abogdanov37 commented on #3678
Hi! I spent some times to dig into .NET client source codes. If I understand right PAT can be send as usual JWT token. If that to authenticate action on resource server I should go with PAT to Zitadel `/oauth/v2/introspect` endpoint to check token and get full information. Do my thoughts right way or any other options?

[2022-09-29 09:09] juergrinaldi commented on #4192
Here are the icons as SVGs:
https://drive.google.com/drive/u/1/folders/12YBNNkaf01ZYAhn2FzOSidsRVEQ9bUty

[2022-09-29 09:49] surangar commented on #4455
I was tried with below AWS load balancer ingress controller and it's giving me "HTTP ERROR 464".
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig":
      { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io

[2022-09-29 10:41] fforootd commented on #4455
@surangar

I am not sure how to configure ALB correctly, but ZITADEL awaits h2c as connection.

The error you describe in this case be "The request protocol is an HTTP/1.1, while the target group protocol version is a gRPC or HTTP/2"

https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-troubleshooting.html#http-464-issues

[2022-09-29 13:05] fforootd commented on #3678
Hi - A pat in ZITADEL is basically a ready to use token which can be used as Authorization Header.

To check this token it normally should be, as you concluded correctly, sent to the introspect endpoint.

[2022-09-29 14:55] fabius opened #4472 "Azure AD Identity Brokering forces user to create password"
**Describe the bug**
When using an Azure AD Identity Broker, a user has to provide a password

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new user using an OIDC connection to your Azure AD application.
2. Click the link in the E-Mail to finish the account initialization
3. Enter your information
4. **Enter a password**

**Expected behavior**
User information should be automati

[2022-09-29 21:32] fdelucchijr commented on #4441
@hifabienne I don’t see any rows in that tables, but the email is not in my spam. Probably is some configuration error, but as I mentioned in the first comment:

As is an issue irreproducible for now, I will close this issue and reopen it if I get to reproduce it. Thanks for your time and effort @hifabienne  @fforootd !

[2022-09-29 21:32] #4441 closed

[2022-09-30 06:15] livio-a commented on #4191
i think this was one part of it... but https://github.com/zitadel/zitadel/pull/4149 also helped by disabling svg uploads

[2022-09-30 08:09] mzch commented on #4456
There is still this issue in `v2.7.0`.

[2022-09-30 08:28] livio-a commented on #1648
fixed by #4245

[2022-09-30 08:58] peintnermax commented on #4191
Loading fonts is an difficult topic for emails as those are often blocked by email clients,
and changing the template is currently not possible due to the fact that we are using one single template for all messages.
We should provide an API for users to upload their own html template for each email type

[2022-09-30 13:50] abogdanov37 commented on #3678
Thank you for reply! Have a nice day!

[2022-09-30 14:51] mzch commented on #4456
FYI, my cpu info:
[code]

[2022-09-30 15:08] adlerhurst commented on #4456
how did you configure the `Machine` in your configuration? There is an uncaught error at the moment. But the problem is a configuration issue

[2022-09-30 17:14] mzch commented on #4456
Oh, I forgot it.

**zitadel-config.yaml**
[code]

**zitadel-init-steps.yaml**
[code]

**zitadel-secrets.yaml**
[code]

**Command line**
[code]

[2022-09-30 18:43] mzch commented on #4456
I changed `zitadel-init-steps.yaml` as below:
[code]
Then, the error message changed:
[code]

[2022-09-30 19:26] petrm opened #4475 "Can't access zitadel behind traefik reverse proxy"
**Describe the bug**
I am trying to set up zitadel using the provided docker image behind traefik proxy.
The first page of /ui/console starts loading and then an error appears in the browser console:

Refused to connect to 'http://sso.mydomain.tld/.well-known/openid-configuration' because it violates the following Content Security Policy directive: "connect-src 'self' sso.mydomain.tld".

Please no

[2022-09-30 19:33] DavideWalder commented on #4368
Another question related to domain discovery:

Currently, for users from customers with unique domains, I can create a username from the local part of their email address and register the company domain, so that when logging in they can use their email.

Example:
`john.doe@acme.com` -> username: `john.doe`, organization domain: `acme.com`

This doesn't work if:
- The user has another domain in his

[2022-09-30 19:35] petrm commented on #4475
RTFM

I also had to change  --tlsMode disabled to  --tlsMode external, which now allows me to get to the login.
Is there an equivalent environment variable instead of the command line argument?

[2022-10-01 06:53] fforootd commented on #4475
I think at the moment it needs to be set https://github.com/zitadel/zitadel/blob/main/cmd/tls/tls.go#L32

Although it internally just sets:

[code]

@livio-a maybe make this argument optional could already solve this.
Default wise we could define the tlsEnabled and externalSecure that they reflect either `external` or `disabled`

[2022-10-01 06:56] fforootd commented on #4254
We should also consider if a user is allowed to change its username with this ruleset

Asked here https://discord.com/channels/927474939156643850/1025633876804116540/1025633876804116540

[2022-10-01 10:34] mzch commented on #4456
Hi, I tried zitadel on my Mac, but at the near point it crashed. Perhaps I have wrong configs but I don't know what's wrong.

[code]

**zitadel-config.yaml**
[code]
**zitadel-init-steps.yaml**
[code]
**zitadel-secrets.yaml**
[code]

- Mac Studio (M1 Ultra)
- OS: macOS `12.6`
- CockroachDB: `v22.1.7`

[2022-10-01 13:53] petrm opened #4476 "Error 404 on first login to the console"
Environment: official docker image
On first login to the console and changing the default password, the console opens, but does not render fully. There are 404 errors in the Chrome console, for example accessing
https://sso.mydomain.tld/zitadel.auth.v1.AuthService/ListMyProjectOrgs

There are also errors in the docker log, sample:

zitadel  | time="2022-10-01T13:44:08Z" level=warning msg="asset in

[2022-10-01 14:25] adlerhurst commented on #4456
Okay it looks like your container has no ip or is not connected to the internet. I will give you more exact feedback asap

[2022-10-01 15:15] mzch commented on #4456
Oh sorry, I missed your advice. when adding `Machine` section, zitadel reported a different error:
[code]

[2022-10-01 16:57] mzch opened #4477 "Incorrect HELO host"
**Describe the bug**
When sending emails, zitadel send `HELO localhost` command on SMTP. This is incorrect. Set correct FQDN hostname.
For instance, Apple iCloud rejects such a mail.

**To Reproduce**
Steps to reproduce the behavior:
1. Register User
2. See log

**Expected behavior**
Send an email successfully to any providers.

**Screenshots**
None.

**Desktop (please complete the following infor

[2022-10-01 17:11] mzch commented on #4456
When removing `--steps` argument and adding `DefaultInstance` section to `zitadel-config.yaml`, I booted up zitadel successfully. But I can't login. Zitadel said `User could not be found`. I've given up. Thanks.

[2022-10-01 17:11] #4456 closed

[2022-10-01 17:17] fforootd commented on #4456
Sorry to hear that you have given up.

I think you needed to input the user in the way of username@orgname.domainname

In your case I think the would be root@zitadel.auth6.com (Zitadel is the default orgname)

[2022-10-01 17:36] mzch commented on #4456
Thanks for your effot. However, unforunatelly I'd have to say it's much more dificult to setup Zitadel than KeyCloak.

[2022-10-01 17:49] fforootd commented on #4456
Thanks for this input. This is the first time someone told us this 😞

There is certainly room for improvement. Care to share what you preferred when using Keycloak?

[2022-10-01 18:11] fforootd commented on #4476
Hi - This looks like a http2 upstream problem.

What kind of proxy are you using? We provide some config snippets here https://docs.zitadel.com/docs/guides/manage/self-hosted/proxy

Great feedback 👍

Question: @livio-a  @hifabienne the version 2.7.0 with #4245 does this not change to just zitadel-admin?

[2022-10-01 18:14] fforootd commented on #4477
@hifabienne I think we should improve the docs to make more clear how to configure Zitadel for this, do you agree?

[2022-10-01 18:45] petrm commented on #4476
Thanks, you are right, this was it. I added explicitly h2c to traefik config.
traefik.http.services.myservice.loadbalancer.server.scheme=h2c

[2022-10-01 18:48] fforootd commented on #4476
Great, let me close this issue then, feel free to reopen if you encounter further problems.

[2022-10-01 18:48] #4476 closed

[2022-10-02 00:46] fdelucchijr commented on #4475
@petrm probably is related to Traefik don't serve http2 by default, you must enable it in the Traefik Service to access some resources in Zitadel UI.

[2022-10-02 04:41] mzch commented on #4477
Ah, It's necessary to add `EHLO` func to `func (smtpConfig SMTP) connectToSMTP(tlsRequired bool) (client *smtp.Client, err error)` in `/internal/notification]/channels/smtp/channel.go`.

[2022-10-02 05:04] mzch commented on #4456
I think Zitadel is more modern and custaimizable than KeyCloak. Its' a great benefit to me. But for some reasone I can't run it easily while I put config files as prescribeed in the [document](https://docs.zitadel.com/docs/guides/manage/self-hosted/configure). It's a pity.

[2022-10-02 06:25] petrm commented on #4475
@fdelucchijr I opened a separate ticket where I already again wrote RTFM for myself and provided information that I added explicitly h2c to the traefik config.
Nevertheless, zitadel is the first application where I had to do that and I think it should be solved with `Upgrade: h2c`, right?

[2022-10-02 18:00] fdelucchijr commented on #4475
Probably, in my experience isn't needed.
Have you tried clearing the cache? (Typical Browser related question 😂😂😂, but in CORS 🤔🤷🏻‍♂️)

[2022-10-02 18:25] petrm commented on #4475
I added h2c explicitly to the reverse proxy configuration as mentioned above and it is now working fine.
I am just guessing that sending header Upgrade: h2c by zitadel would automatically switch to h2c, even if the client first asks for http/1.1.

[2022-10-03 07:00] fforootd commented on #4475
I am not sure how traefik handles this. But we recommend setting h2c/http2 explicit to avoid unwanted side effects.

Lets close this issue but feel free to discuss open this if the need arises.

[2022-10-03 07:00] #4475 closed

[2022-10-03 07:58] fforootd opened #4485 "UX Improvements for Self-Hosting ZITADEL"
## Description

I think we should further improve the UX on how to start ZITADEL.

This is a follow up task #4245

**Acceptance criteria**
- [ ] ZITADEL should default for the hostname to 0.0.0.0 instead of localhost (i.e. accept any domain as long as no domain is given)
- [ ] ZITADEL should allow http1.1 per default besides http2 (even though this will not allow grpc)
- [ ] Discuss how the TLS Mo

[2022-10-03 08:04] adlerhurst commented on #4485
I would prefer to overwrite it in the docker container during the github action

[2022-10-03 08:09] fforootd commented on #4485
What GH action? I only discuss the releases Image

[2022-10-03 08:10] fforootd commented on #4485
In that case we should use the mode in the config instead of the argument

[2022-10-03 09:45] hifabienne opened #4486 "ZITADEL should allow IDP Login from customer portal"
At the moment we do have two separat accounts for ZITADEL customer portal and ZITADEL Instance. This makes it confusing for our customers in the onboarding process. The following parts need to be changed to be able to login with an external idp.

**Acceptance criteria**
- [x] #4487
- [ ] AddInstance allows to create with an user with an external idp
- [ ] ...

[2022-10-03 13:04] hifabienne opened #4487 "Change instance setting domain suffix needs to migrate existing accounts, so they are able to login with the existing loginname"
At the moment it is possible to enable/disable domain suffix on the domain policy on a instance level. If it is disabled all usernames will just be computed without the suffix. This can result in duplicated loginnames, since there can exist multiple user with the same username but not the same loginname.

To be able to change the setting we should make a migration for all users.

**Acceptance Crit

[2022-10-03 14:10] #4450 closed

[2022-10-03 16:01] #4362 closed

[2022-10-03 18:52] JokerQyou commented on #3492
Is this on any of your roadmaps?

[2022-10-04 05:44] #4240 closed

[2022-10-04 05:44] #4416 closed

[2022-10-04 06:18] chathuwick commented on #4455
@surangar

Update the backend-protocol-version to HTTP2 instead of GRPC. Your Ingress definition should be similar to the following:

[code]

[2022-10-04 09:32] hifabienne commented on #4368
You can register multiple domains on an organization. So you can register acme.com aswell as yahoo.com and the user will be able to login with both loginnames.
Example: username: john.doe,  organization domain: acme.com and yahoo.com, loginname: john.doe@acme.com and john.doe@yahoo.com

The second case depends on your usecase. why do you need multiple organizations? Do you want them to have differ

[2022-10-04 19:09] DavideWalder commented on #4368
First case:
I saw that it is not possible to register the same domain with multiple organizations (and rightfully so), so that option wouldn't work since I can have `@yahoo.com` users in more than one organization. Still, the different login name could be an acceptable compromise on the user side.

Second case:
In our usage of ZITADEL, we keep a 1:1 relation between ZITADEL organizations and our o

[2022-10-04 19:24] DavideWalder commented on #4368
@hifabienne Regarding the unique organization holding all the users, this might be a viable option. I would then only create users in separate organizations when dealing with SSO, different IDPs or login settings.

[2022-10-05 06:39] hifabienne commented on #4368
@DavideWalder

I am not sure how your complete usecase looks like. There might be solutions. But without understanding the use case it is difficult to help.

What I understood is:

Organization 1: CustomerA
- Users with usernames like john.doe@customerA.com --> they need SSO with an external IDP
- Users with usernames like john.doe@yahoo.com (any email) --> they don't need SSO with an external IDP

[2022-10-05 10:41] thesephirot commented on #4421
this should pull the correct tag:

https://github.com/zitadel/zitadel/pull/4497

[2022-10-05 12:30] hifabienne opened #4498 "Private labeling policy bugs"
**Describe the bug**
The private labeling policy should trigger everywhere we have some logos or icons.

**Acceptance Criteria**
- [x] After logout in the console the ZITADEL logo is always shown, this should be read from the policy
- [x] In the console the icon in the header is only triggered from the label policy if watermark is disabled, this should always be shown from the policy
- [ ] Sometim

[2022-10-05 15:40] #1897 closed

[2022-10-05 15:54] hifabienne opened #4500 "LDAP"
**Acceptance criteria**
- [ ] ...
- [ ] ...

[2022-10-05 15:59] hifabienne commented on #4500
will create an issue from the discussion

[2022-10-05 15:59] #4500 closed

[2022-10-05 16:11] DavideWalder commented on #4368
This is correct, if I understand you suggestion correctly I could create the `yahoo.com` users under a single organization (common to all customers, having many associated domains), and the others under their respective organizations with the registered domains (`customerA.com` and `customerB.com`).
The only caveat is the I need to dynamically register new domains as I encounter them (since I don'

[2022-10-05 19:27] DavideWalder commented on #4368
@hifabienne I realized now that the usage of domains is not mandatory, I can therefore disabled it with the option `user_login_must_be_domain` for the main organization, this solves the issue for `john.doe@yahoo.com`

[2022-10-06 06:12] hifabienne commented on #4368
Yes exactly, so if I understand you right, you can solve your problems?

[2022-10-06 11:30] #4463 closed

[2022-10-06 12:24] #4309 closed

[2022-10-06 12:24] #4311 closed

[2022-10-06 12:24] #4312 closed

[2022-10-06 12:24] #4321 closed

[2022-10-06 14:11] hifabienne opened #4504 "SMTP send test mail"
As a administrator I want to be able to configure my SMTP and send a test email to find out if everything works before activating it for all my customers.

**Acceptance criteria**
- [ ] I can create a SMTP configuration and put it in a preview mode
- [ ] I can send a test email from a SMTP no matter of the state (preview/active)
- [x] I can deactivate an SMTP
- [x] I can activate an SMTP
- [x] I a

[2022-10-06 14:22] #2692 closed, assigned to fforootd

[2022-10-07 10:38] eliobischof opened #4508 "Store access and execution logs"
Storing request audit logs and actions execution logs enables creating projections for fine grained metrics and quotas or for streaming execution logs.

- [ ] Access logs are stored in a table **logstore.access**, execution logs go to **logstore.execution**.
- [ ] An **access log entry** contains the instance id, the organization id, the timestamp, the request url, the request headers w/o the *Aut

[2022-10-07 10:39] eliobischof opened #4509 "Enable configuring quotas"
Configuring quotas enables admins to block future usage based on previous usage.
- [ ] A quota for authenticated requests and action minutes each are configurable **for an instance** through the **system API** and the ZITADEL binary configuration in the **DefaultInstance** section.
- [ ] A **quota configuration** has a start time, a duration, and an amount of units (eg. number of requests, seconds

[2022-10-09 11:17] DavideWalder commented on #4368
Currently testing, but it seems like it for non-SSO users. I still need to create the users in different organizations though (otherwise if one customer doesn't want to enforce MFA or similar, none can). This is not an issue though, since I can disable domain discovery in all of them (aside from SSO customers). `GetUserByLoginNameGlobal` is a lifesaver

[2022-10-09 11:23] DavideWalder opened #4513 "Login name doesn't correspond to the one entered by the user"
**Describe the bug**
If a different login name has been entered before, it is not possible to correct it unless the page is refreshed.

This might be tied to the `authRequestID` being the same

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with login name `john.doe@acme.com`
2. Enter the login name for a different non-existing user, as `john.doe2@acme.com`
<img width="483" alt

[2022-10-09 11:32] DavideWalder opened #4514 "Typo in default message"
https://github.com/zitadel/zitadel/blob/3c3bce1a6b665dab6731dbacaf65745cf1cb46ff/internal/notification/static/i18n/en.yaml#L20

`din't` instead of `didn't`

[2022-10-10 07:03] hifabienne commented on #4513
Hi @DavideWalder

Thanks for your issue. We will have a look at it.

[2022-10-10 08:01] hifabienne commented on #4368
So I will close this issue, feel free to reopen or open a new one if you still have some other problems

[2022-10-10 08:01] #4368 closed

[2022-10-10 09:52] hifabienne commented on #4509
I would add a reaction on 95% because with 80 the customers probably think they have a lot of time.
But I think this will be configurable anyways from our perspective. And later on even the customer should be able to configure at what point he likes an information

[2022-10-10 11:36] fforootd commented on #4509
I think we should allow this reaction to be configurable. It could be `block`, `redirect`or `inform

[2022-10-10 11:43] hifabienne commented on #4508
The access logs will maybe need some more information depending on what type. e.g if its something in the login we probably want to know on which client/project it happens

[2022-10-10 12:03] eliobischof commented on #4509
We should handle inform separateley. ZITADEL also knows multiple channels like email, sms, stdout and file. The thresholds for messages, as @hifabienne mentionened, also should be configurable. IMO, the messaging config belongs together.

[2022-10-10 12:06] eliobischof commented on #4508
Do we also have to consider properties for easy GDPR deletion?

[2022-10-10 13:22] fforootd commented on #4509
I agree the channels should be kept to the existing ones!

[2022-10-10 13:25] fforootd commented on #4508
Yes, but it is tricky to handle... I mean in the access logs ip and ids might be affected by this, but whats even harder to achieve is the execution log for actions. Since a "customer" can write anything in there without prior knowledge.

I think we need to provide a lifecycle policy to delete logs in a scheduled manner. At least for the moment being i think this is the only way.

[2022-10-10 13:29] hifabienne opened #4529 "Docs: How to redirect directly to external idp"
If only one identity provider is registered on an organization it should be possible to be redirected to the idp directly, if I send the organization scope.

**Acceptance criteria**
- [ ] What settings need to be done to achive this
- [ ] What do I need to send in the authorization request

[2022-10-10 13:32] hifabienne opened #4530 "Docs: How can I handle custom app domains per organization"
Sometimes I run my application on a custom domain per organization, after the login the user should be redirected to this custom domain again.

Example:
customer-a.app.com --> user login at login.app.com --> redirect to customer-a.app.com
customer-b.app.com --> user login at login.app.com --> redirect to customer-b.app.com

[2022-10-10 13:41] eliobischof commented on #4508
So the point above is enough ATM?

[2022-10-10 14:17] mffap opened #4531 "Display of external users in authorizations is misleading"
<img width="1190" alt="Screenshot 2022-10-10 at 15 37 19" src="https://user-images.githubusercontent.com/1366906/194885795-a4b3d8ac-3ffc-4efa-8549-a0e1531151ce.png">

Following scenario
- I have two organizations Demo-Vendor and Demo-Customer
- Demo-Vendor has a user "Max Vendor"
- On Demo-Customer, I create an authorization for "Max Vendor" (external user grant)

I have the following issues how t

[2022-10-10 14:28] hifabienne commented on #4448
@livio-a I reopen the issue, because this doesn't work right now.

If I have a configuration like this:
![image](https://user-images.githubusercontent.com/38692350/194889368-4095c7f4-0fd7-454d-a87b-ddc66288a88c.png)

I get stuck on the first screen, on click to next i get an error:
![image](https://user-images.githubusercontent.com/38692350/194889254-64b42b90-a744-4fde-b2d0-8b78bf4956ab.png)

[2022-10-10 14:33] hifabienne opened #4532 "E2E: Test login settings combinations on login flow"
At the moment we need to test different login behaviour settings in different combinations manually. It would be great to test them with the e2e tests.

**Acceptance criteria**
- [ ] Username, password not allowed, One idp registered, --> redirect directly to idp
- [ ]

[2022-10-10 14:57] fforootd commented on #4508
I think using 90 Days as default is better, but yes for the moment being it is sufficient

[2022-10-11 09:12] #4513 closed

[2022-10-11 12:24] mffap opened #4537 "Display Auth Request on application"
Background

A quick way to test out the configuration of an application or organization requires generating an [Auth Request](https://docs.zitadel.com/docs/guides/integrate/login-users#auth-request) which triggers the behavior in ZITADEL. As a quality of life improvement and to reduce friction, we could display an Auth request already to the user with a minimum configuration.

Considerations

- Us

[2022-10-11 12:25] mffap commented on #4537
@hifabienne as discussed today. I think this would be a small and valuable QoL improvement for initial testing.

[2022-10-11 13:09] mffap commented on #2572
Just as a reminder, please update https://docs.zitadel.com/docs/concepts/features/selfservice#login when this feature is available.

[2022-10-11 15:15] #4378 closed

[2022-10-12 01:02] mzch opened #4540 "Don't start migration."
**Describe the bug**
Don't start migration when `zitadel setup`.

**To Reproduce**
1. `zitadel setup`, `zitadel start-from-setup` or `zitadel start-from-init`

**Expected behavior**
Database tables are created.

**Screenshots**
None.

**Server:**
OS: Debian 11.5
DB: PostgreSQL 14.5

**Additional context**
Show message as below:
[code]

[2022-10-12 13:01] DavideWalder opened #4543 "Redirect URI not working"
**Describe the bug**
After entering the password, the user is redirected back to the login page (as if nothing happened), instead of the proper redirect URI. This is solved by removing the default login URI on the organization. The odd thing is that readding the default redirect URI on the organization doesn't reintroduce the bug.

It seems like deleting and readding the default redirect URI on th

[2022-10-12 16:03] hifabienne commented on #4543
@DavideWalder Thanks for your report.

I could not reproduce your issue, but maybe I do not have the same entry point or configuration. So can you please answer the following questions?

Did you add a default redirect url, if yes on an instance or on an org? Or should it just redirect to a url you are sending with your authorization request?
How do you get to the ZITADEL login? Org which url do yo

[2022-10-12 16:27] adlerhurst commented on #4334
Latest release of viper probided this feature by default

[2022-10-12 19:38] adlerhurst commented on #4540
Hi @mzch thanks for giving us another try. Are you able to share your configuration files?

[2022-10-12 23:52] lordwelch commented on #4477
@fforootd this is incorrect.
Please reference the smtp documentation for the net/smtp stdlib package https://pkg.go.dev/net/smtp#Client.Hello

and that no where in [internal/notification/channels/smtp/channel.go](https://github.com/zitadel/zitadel/blob/c15658ea8c6a0d68df5505b97580dd2318e9fe19/internal/notification/channels/smtp/channel.go) is there a call to the Client.Hello function.

This also m

[2022-10-13 06:37] fforootd commented on #4477
@lordwelch I see let us check this in more detail. @hifabienne who can look into this?

Hm ok, interestingly we use Google SMTP-Relay for some of our mails and that works. (maybe this is due to some GSuite differences)

[2022-10-13 06:40] lordwelch commented on #4477
I am using an IP whitelist instead of an app-password, it is possible that Gmail has extra requirements because of this.

[2022-10-13 06:46] fforootd commented on #4477
This may well be 😁  We run it with authentication. See below our config:

[code]

[2022-10-13 12:31] hifabienne commented on #4532
We define tests directly in the test suit

[2022-10-13 13:57] hifabienne commented on #4472
Hi @fabius

Sorry for the late reply.
We do have some problems with the AzureAD as identity provider.
At the moment we use all the properties that are returned from the provider and create the user in ZITADEL.
Unfortunately the email_verified property is not set, because this is required in ZITADEL at the moment the user will get an initialization mail.
We are currently on the topic of having temp

[2022-10-14 06:38] DavideWalder commented on #4543
1. I added a default URI to the instance
2. Create a new organization (using the instance defaults, no overriding)
3. Invited a user to that organization
4. I'll send you a HAR file on Discord with what the user did

Notes:
- The invitation flow doesn't seem to be responsible, this happens even with logins (see the last bit of the HAR export)
- The frontend is correctly passing the redirect URI

[2022-10-14 06:43] DavideWalder commented on #4543
Instance settings
![Screenshot 2022-10-14 at 08 40 31](https://user-images.githubusercontent.com/58290976/195779551-8236940c-91bf-43b1-8fa4-e4287ebaebbb.png)

[2022-10-14 06:46] DavideWalder commented on #4543
Minimal steps to fix the issue:
- remove redirect URI from organizations settings
- Reset settings to instance default

[2022-10-14 08:04] DavideWalder opened #4548 ""Send new initialization email" with wrong SMTP config fails silently"
**Describe the bug**
Adding a new human user (or simply sending a new initialization email) having the wrong SMTP user succeeds, even though no email is sent.

I don't know the details of SMTP integrations, it could also be that the SMTP provider is asynchronous.

**To Reproduce**
Steps to reproduce the behavior:
1. Change SMTP user from `zitadel@caos.ch` to something else
2. Go to a user and clic

[2022-10-14 08:52] hifabienne commented on #4548
Hi @DavideWalder
Thanks for your report.
Yes the send email is asynchronous, so we are not able to send you a direct error message.
But we know that at least you should get some how a feedback that there was an error.
We have already created an issue for the smtp problematic: #4504
Also because at the moment it is not possible to send a test email for a new smtp provider

[2022-10-14 08:59] DavideWalder commented on #4548
@hifabienne Thanks for the explanation, I'll close the issue

[2022-10-14 08:59] #4548 closed

[2022-10-14 10:11] DavideWalder opened #4549 "Wrong instance domain settings shown in the frontend"
**Describe the bug**
The domain settings on the instance change depending on the organization setting.
This seems to be a frontend issue though, the admin client always gives the same result.
Have been going crazy for a while on this

**To Reproduce**
Steps to reproduce the behavior:
1. Create two orgs with different domain settings
2. Select the first org and check the instance settings
3. Go bac

[2022-10-14 11:43] DavideWalder opened #10510 "Missing assets API client"
I couldn't find a client to manage assets (specifically logos), is there one?
I saw that there is documentation for it: https://docs.zitadel.com/docs/apis/assets, but it is not listed here: https://github.com/zitadel/zitadel-go/tree/v2.0.0-v2-alpha.9/pkg/client

[2022-10-14 12:16] peintnermax commented on #4549
This was indeed a frontend issue.. sorry for the inconvenience.. this will be fixed with #4550

[2022-10-14 13:20] mffap commented on #118
Auth0 migration tool would be great. Auth0 allows users to export password hashes by [going though support](https://auth0.com/docs/troubleshoot/customer-support/manage-subscriptions/export-data#user-passwords) .

[2022-10-14 13:24] mffap commented on #2062
@gc-ss I'm closing this issue, since the example seems to be what you were looking for and there hasn't been activity on the issue since.

[2022-10-14 13:24] #2062 closed

[2022-10-14 13:29] mffap commented on #3235
relates to #3365

[2022-10-14 13:34] mffap commented on #3654
https://docs.zitadel.com/docs/guides/manage/console/instance-settings#branding

[2022-10-14 13:34] #3654 closed

[2022-10-14 13:36] fforootd commented on #4452
Hi @samjaninf please reopen this issue if you have additional questions

[2022-10-14 13:36] #4452 closed

[2022-10-14 13:36] fforootd commented on #4322
Since https://github.com/zitadel/zitadel/issues/4450 fixed I think we can close this issue.

Feel free to reopen if we need to look into it again.

[2022-10-14 13:36] #4322 closed

[2022-10-14 13:37] mffap commented on #2942
what's the difference to #3992? is that issue redundant?

[2022-10-14 13:44] hifabienne commented on #4006
Yes this is what max dis

[2022-10-14 13:44] #4006 closed

[2022-10-14 13:48] hifabienne commented on #2942
This issue here is about the ux and from a user perspective how the login flow should be, the issue #3992 is about some technical/backend stuff. E.g use eventstore v2 instead of v1, store usersessions and authrequest in eventstore instead of separat tables, etc.

[2022-10-14 14:21] DavideWalder opened #4551 "Safari doesn't store the correct user name"
**Describe the bug**
I don't know if this can be controlled, but when following the invitation link and entering the new password, Safari saves it using the initialization code as username. This is annoying since one has to manually edit the saved password in the preferences in order to have autofill work correctly.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**D

[2022-10-14 14:23] hifabienne commented on #4551
Hi @DavideWalder

I think @peintnermax is already on it. Right?

[2022-10-14 15:51] peintnermax commented on #4551
yes.. will be fixed with #4546

[2022-10-14 17:31] DavideWalder commented on #4543
From a quick look at the code, it looks like if there is no login policy on the organzation (as would be if someone resets it to the instance settings), the default redirect URI is not the one of the instance but `""`:
https://github.com/zitadel/zitadel/blob/fbd04d399d8b71cdfc69d1634f6c6f31cbc6b7ab/internal/api/ui/login/policy_handler.go#L25
https://github.com/zitadel/zitadel/blob/bffb10a4b4a854b0

[2022-10-14 17:42] DavideWalder opened #4552 "Available IDPs are removed when saving organization login policy"
**Describe the bug**
I understand that the list of available IDPs is stored in the login policy, and when saving the instance default login policy is saved as organization login policy, but it looks like the list of IDPs is not properly copied.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an instance IDP (activated)
2. Create an organization
3. Ensure that the instance IDP is avail

[2022-10-17 07:07] hifabienne opened #4564 "On boarding in console"
Sometimes it is difficult to users who got the first time to the ZITADEL console, to find out what they do have to do. We could make kind of a checklist they have to go through to solve the first tasks. The checklist could be shown in the dashboard. And after I have resolved one step I get back to the dashboard and the next point.

**Acceptance criteria**
- [ ] 1. Create a project (step is shown a

[2022-10-17 08:03] hifabienne opened #4565 "Organization pagination does not work"
**Describe the bug**
If I show all the organizations of an instance, the first page works fine. As soon as I navigate to the second page, All the organizations are shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to instance organizations
2. Click on next page
3. All organizations are shown

**Expected behavior**
Pagination

[2022-10-17 09:10] fforootd commented on #4477
CC @livio-a

[2022-10-17 12:09] #4389 closed

[2022-10-17 12:09] #4498 closed

[2022-10-17 13:15] DavideWalder opened #4568 "Can't scroll in the "Edit roles" pane"
**Describe the bug**
When editing a project grant by opening the "Edit roles" pane, it is not possible to scroll.

Temporarily solved by using a vertical screen and zooming back.

**To Reproduce**
Steps to reproduce the behavior:
1. Create about 50 roles in a single project
2. Edit a project grant
3. Try to see all the roles

**Desktop (please complete the following information):**
 - OS: macOS
 -

[2022-10-17 13:32] DavideWalder commented on #4568
Also, if roles are on multiple pages, only the ones selected in the current page are kept. So selecting `a-role` and `z-role` is only possible if they fit on the same page

[2022-10-17 19:19] #4344 closed

[2022-10-18 02:03] swratten opened #4570 "Identity Brokering Google IDP forces password change"
Seems the same as #4472 but for Google

**Describe the bug**
Initially user can login through idp after account creation, but after clearing localstorage, session storage & cookies or using incognito / private tabs / separate browser user is met with enter email code and new password.

**Additional context**
Using postgres as database if that may cause any extra edge-cases
Using V2.8.2 docker cont

[2022-10-18 02:18] bman46 commented on #2976
Any updated on this? Specifically the KeyCloak migration guide.

[2022-10-18 05:41] mffap commented on #2976
@bman46 the keycloak guide will take another couple of weeks. Just as a disclaimer: the user migration will not be smooth until ZITADEL supports PBKDF2 hashing (https://github.com/zitadel/zitadel/issues/4157)

What are you struggling with? Maybe we can help you out in the meantime.

[2022-10-18 06:16] hifabienne commented on #4570
Hi @swratten
Thanks for your report.
You are right. We will fix this asap.

[2022-10-18 06:20] hifabienne commented on #4472
Hi @fabius

We found out what the problem is, thanks to this issue: #4570
The problem is if you do not have a session. We will fix this asap.
But with the azureAD you will probably have some more issues. That will be resolved with the IDP Templates

[2022-10-18 06:31] hifabienne commented on #4568
Thanks for your feedback.
We will have a look at it

[2022-10-18 06:41] hifabienne commented on #4543
@DavideWalder Sorry maybe I do not understand you correctly.
You said that you do not set/overwrite the instance settings on your organization.
But to fix it you did remove the uri from the organization settings. This tells me that you did set a default redirect url?

The other thing that is unclear to me is, that this happens with applications not in dev mode. So the default redirect url does not

[2022-10-18 06:49] DavideWalder commented on #4543
@hifabienne I did set a default redirect URI on the instance, and I'm setting the redirect URI in the authorization request.
I managed to reliably reproduce the bug on all the instances, the application settings don't play any role indeed.

1. Set a default URI on the instance
2. Create an organization (without changing the login policy)
3. Create a user in that organization
4. The user will be ab

[2022-10-18 06:56] DavideWalder commented on #4543
What I meant with the lines of code I referenced, is that if there is no login policy on the organization, the query doesn't return any row (`rows.Next()` doesn't return anything), so `defaultRedirectURI` will stay an empty string, instead of defaulting to the instance default redirect URI.

[2022-10-18 07:05] DavideWalder commented on #4543
The weird thing is that the `GetLoginPolicy` endpoint correctly returns the instance default (so if no login policy is set on the organization, it returns the instance settings)

[2022-10-18 07:09] swratten commented on #4570
Thanks @hifabienne.
It may be a separate bug, but when trying to auto register with the same idp, after the Oauth flow it will return to the same previous register account screen (choose username & password or External Idp as UI options).

[2022-10-18 07:15] eliobischof commented on #4540
@mzch do you still have this issue? If so, could you please attach your zitadel configuration?

[2022-10-18 07:17] hifabienne commented on #4543
Unfortunately I cant reproduce your problem.
I did the following:
1. Set default redirect url on my instance to zitadel.com
2. create an organization without changing the policy
3. create a user in the organization
4. Click initialize user in the email --> password set screen, click next, redirect to zitadel.com

Because I redirect to our website I will not be redirected back to our login with a p

[2022-10-18 07:26] hifabienne commented on #4543
The goal of the redirect url is to send you somewhere, from where you can start an authorize request. Because without the authorize request, we cant make the login.

I am not sure if your problem is the redirect url. as i can see from the har file. it looks like you have been redirected and then get back to zitadel login ui

[2022-10-18 07:32] DavideWalder commented on #4543
Mhh, I'll do some more digging, the thing that puzzled me was that the problem is gone if I click on "Save" on the organization login policy (which presumably copies the settings from the instance, even though this happens https://github.com/zitadel/zitadel/issues/4552), and it is reappears if I click on "Reset to instance defaults".

[2022-10-18 07:38] hifabienne commented on #4543
I will investigate some more time aswell.
Can you maybe create two organizations. One where it works and one where it doesn't. And then send me the organization ids in the discord. So we can compare the two settings.

[2022-10-18 07:57] DavideWalder commented on #4543
Sure, I'll set them up. One detail I forgot to mention is that I'm not including the organization scope in the authorization request (I'm only giving `openid profile email urn:zitadel:iam:user:metadata`)

[2022-10-18 08:22] adlerhurst commented on #3992
slides 5 and 6 of the following jamboard: https://jamboard.google.com/d/1kz646GB_MXmHjX4sq05dXW3IwO2b35Fv3_rIjTMp8Ys/edit?usp=sharing

[2022-10-18 10:02] adlerhurst commented on #3992
drawings: https://jamboard.google.com/d/1ShViHHPeuBEidaRZPrxgUkXzISGUK6ow1kF85bEl-TU/edit?usp=sharing

[2022-10-18 14:37] bman46 commented on #2976
Haven't attempted it yet, so no issues. I was just looking to see if there was any official documentation on the topic before I attempt it.

[2022-10-18 16:01] DavideWalder opened #4572 "Default are not shown in Login Interface Texts/External user not found"
**Describe the bug**
The text is not shown if it the same as the default value (unlike for the other pages). This makes it harder to find where to edit a message.

**To Reproduce**

**Expected behavior**
The current values should be shown (as is the case for the other pages).

<img width="997" alt="Screenshot 2022-10-18 at 17 59 26" src="https://user-images.githubusercontent.com/58290976/196482618

[2022-10-18 21:23] skeletorXVI opened #4573 "Init fails when database username contains '-'"
**Describe the bug**

The CLI crashes when trying to initialize a new Zitadel instance when the init username contains a `-`.

**To Reproduce**
Steps to reproduce the behavior:

Create a new Zitadel instance configured for PostgreSQL with a username containing a `-`.

e.g. in my case

`init-zitadel` crashes
`init_zitadel` works

**Expected behavior**

Valid PostgreSQL usernames should be escaped t

[2022-10-19 06:13] #4448 closed

[2022-10-19 06:31] hifabienne commented on #4386
We should make a separat policy for defining which fields are required.
Something like a identity/user policy

[2022-10-19 06:37] hifabienne commented on #4462
MFA Prompt is the timestamp defined in the login policy. If the timestamp is 0 the prompt should not show

[2022-10-19 06:39] DavideWalder commented on #4543
FYI: I just invited another user to the ZITADEL customer portal and we had the same issue (kept being redirected to the login page after logging in).

[2022-10-19 10:55] pr0gr8mm3r opened #4577 "Can't add a role to user through user-screen > "authorizations" > "new" if user already has role in that project"
**Describe the bug**
Can't create add a role to user through user-screen > "authorizations" > "new" if user already has role in that project

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user (without any roles)
2. Go to "Users" > Click on user > "Authorizations" > "New"
3. Assign a role of a project to the user
4. Works
5. Click "new" again on authorizations screen
6. Select anot

[2022-10-19 11:21] eliobischof commented on #3332
this is implemented as part of #4509

[2022-10-19 11:21] #3332 closed

[2022-10-19 12:07] hifabienne commented on #4577
Hi @pr0gr8mm3r
An authorization should always be unique for the user and a project.
So if you already have an existing authorization and you like to add some more roles click on the existing row in the authorization table and you will be able to select which roles you like.

If you click on new, we do not append roles to an existing authorization.

![image](https://user-images.githubusercontent.co

[2022-10-19 13:29] mffap commented on #2976
Sure. I'll ping you when the guide is out. In case you want to start migrating already and you run into any questions, let us know - best over on [discord](https://zitadel.com/chat) or in a discussion here.

[2022-10-19 13:32] hifabienne commented on #4577
Yes I agree with you.

[2022-10-19 14:55] mffap commented on #4211
Related discussion:
https://github.com/zitadel/zitadel/discussions/2535

and also https://github.com/zitadel/zitadel/discussions/4009

[2022-10-19 15:56] DavideWalder opened #4583 "Conflicting messages regarding email verification status"
**Describe the bug**
The user has been imported but needs to set the first password (imported with verified email). The frontend shows conflicting messages.

Also, this user was invited yesterday, but its code shows as expired when trying to set the password. The user still shows as `Initial`, is there a way to understand if the invitation code is expired? `user.UserState` doesn't have a specific

[2022-10-19 16:05] DavideWalder commented on #4583
Context:
In our integration, we report the invitation status from ZITADEL in our GUI, so that users know if:
- the invitation has been accepted
- the invitation is pending (and can be resent if the email was lost for example)
- the invitation expired (must therefore be refreshed), this is currently missing

[2022-10-19 22:44] pr0gr8mm3r opened #4584 "Can't disable watermark"
**Describe the bug**
I can't disable the Zitadel watermark (and social icons in footer)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Branding
2. Expand section 'Advanced Behavior"
3. Section is empty

**Expected behavior**
I can disable the watermark

**Additional context**
#4498 contained a description of that bug, but was closed.

**Version**
v2.9.1 selfhosted with post

[2022-10-20 08:13] hifabienne opened #4586 "Add external link and logo to application/project"
It would be nice to be able to add external links and icons to applications. This could be shown somewhere/console to the user, so he is able to see all the applications and open them directly.

**Acceptance criteria**
- [ ] External URL on application
- [ ] Icon/Image on application
- [ ] Enable/Disable if this application should be shown (e.g APIs should mostly not)

[2022-10-20 08:34] DavideWalder opened #4587 "/ui/login/loginname times out with organization-only IDPs"
**Describe the bug**
When an IDP is defined on the organization only (not on the instance), `/ui/login/loginname` times out unless username-password is also allowed.
This works fine when the identity provider is set on the instance.

**To Reproduce**
Steps to reproduce the behavior:
1. Organization settings:
![Screenshot 2022-10-20 at 10 18 01](https://user-images.githubusercontent.com/58290976/19

[2022-10-20 08:35] DavideWalder commented on #4587
Container logs (not sure if related):
[code]

[2022-10-20 08:45] DavideWalder commented on #4587
Found the issue, I set the wrong issuer in the IDP config. I guess no action required

[2022-10-20 08:45] #4587 closed

[2022-10-20 09:22] eliobischof commented on #4297
![Kazam_screenshot_00010](https://user-images.githubusercontent.com/12727842/196909921-4bf56539-b847-46b1-995b-68342e4ba4d0.png)

[2022-10-20 10:12] pr0gr8mm3r opened #4588 "Login Interface Texts policy bug when customizing OTP option text"
**Describe the bug**
When I set the text for the OTP option, it is also applied on the u2f option of the 2fa prompt.

The bug seems to be here: https://github.com/zitadel/zitadel/blob/2bfa51da1c7a0be079a851521b13211f99fe69bf/console/src/app/modules/policies/login-texts/helper.ts#L101 (Notice that the u2f text is set to the otp text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settin

[2022-10-20 12:36] #3850 closed

[2022-10-20 13:05] DoGab opened #4593 "Display all possible login names on user detail view"
With version  > 2.9.0 it is also possible to login with the e-mail address or the phone number. If these features aren't disabled, display also these possible login names on the user detail view. Currently only the `username@domain` combination and `username` are displayed.

[2022-10-20 13:11] DoGab opened #4594 "Display if a user is federated"
To quickly see which users are federated and which are local users it would be nice to have some kind of visible differentiation (colour, icon, etc.). Maybe on the user list view or in the user detail view.

[2022-10-21 07:51] hifabienne opened #4597 "Delete instance doesn't remove loginnames from projection"
**Describe the bug**
If I remove an instance the projections of the loginnames are not cleared.

- [ ] Remove loginnames
- [ ] Check if all other instances are cleared

**To Reproduce**
Steps to reproduce the behavior:
1. Call remove instance
2. loginnames still in projection

**Expected behavior**
All projections should be cleared

[2022-10-21 08:41] hifabienne opened #4598 "Join tables should include instance id"
**Acceptance Criteria**
- [ ] Include instance_id in all querys and joins

**Describe the bug**
At the moment we do join some tables like users, humans and loginnames. Or project grants with projects.
At some points we make this only with the id. Most of the time this is no problem, because we do have unique ids over all instances.
But if we import data from another instance and make this on a tes

[2022-10-21 13:18] stephanrenggli commented on #4052
As a workaround you can create the user with a username in email format and modify the user after creation removing the domain. Validation only seems bugged on initial user creation.

i.e. create user `name.lastname@example.com` -> edit username to `name.lastname`

[2022-10-21 21:34] fforootd commented on #4588
Nice catch.

@peintnermax I guess that's one for you 😁

[2022-10-22 10:51] peintnermax commented on #4588
@pr0gr8mm3r Didn't quite figure a way out to generate such a file,
[code]
the request method name can't be indexed with a generated value like this in typescript or do you have any other idea..

[2022-10-22 10:57] peintnermax commented on #4588
@pr0gr8mm3r thanks for the hint.. created a [PR](https://github.com/zitadel/zitadel/pull/4600) 👍

[2022-10-23 12:47] eliobischof commented on #3588
@fforootd @livio-a
FYI, terraform-provider-google doesn't support cloud run jobs, yet.
https://github.com/hashicorp/terraform-provider-google/issues/11743

[2022-10-23 18:10] helmut72 commented on #3598
I'm not the ones, but give feedback :-) Also wanted to switch to Postgres after seeing Cockroach RAM usage. In Keycloak the app is the memory hog, in Zitadel it's Cockroach.

This works:

[code]

... and this doesn't work:

[code]

postgres is the container name of Postgres.

[2022-10-24 09:18] lapin-b opened #4604 "OAuthErrorEvent: unable to retrieve client by id since version 2.5.0"
**Describe the bug**

The server reports an error that the web browser shows in its console, when accessing the web UI at `/ui/console` whenever the user is logged in or not. The errors are reported from version 2.5.0 and onwards (to anybody reading this from the future, the current version is 2.10.0).

In the not logged in state, the following OAuth message is reported by the server:

(The JSON p

[2022-10-24 10:05] adlerhurst commented on #3598
hi @helmut72

I think there is some configuration missing. If you use postgres you have to set all the fields for the connection. The defaults of zitadel are only configured for cockroachdb:

here is an example for disabled ssl on postgres:
[code]

if you init the database also with zitadel you have to set the admin user additionaly:
[code]

[2022-10-24 14:15] hifabienne commented on #4543
Hei @DavideWalder

Can you please try it again.
We have investigated some time and found a bug that might solve your problem.
We have deployed the newest version, and this might fix it.

[2022-10-24 14:32] DavideWalder commented on #4543
Just tested with an instance running 2.10.0, same issue. I did the following:
- Picked an organization
- Reset the login policy to instance default (which has the URI)
- Tried logging in with an user of that organization -> redirection doesn't work
- Clicked on "Save"
- Redirection works

[2022-10-24 15:18] eliobischof commented on #4604
@adlerhurst can you please describe a planned solution and a workaround?

[2022-10-24 17:41] fforootd commented on #3588
Hm, thats a bummer, in that case we need to think of something else 😁

[2022-10-24 18:03] helmut72 commented on #3598
@adlerhurst
Thanks, have added SSL Mode and tried with disable, disabled, false and 0. But no luck. It still wants to connect to a Cockroach db. Which is unset:

[code]

I hope Postgres doesn't take this much RAM too... ;) Nevertheless I prefer Postgres for my home setup.

[2022-10-24 18:59] helmut72 commented on #3598
Update. Now it works. First I've pulled latest `:stable` release. My image was from end of last week. Still got an error:

[code]

Then I've also set the Postgres admin variables:

[code]

But even then it doesn't worked:

[code]

Look at the database name. Same as Postgres user variable. But I have set a different db name. My examples here are other names for security reason.

Then I have tried w

[2022-10-25 08:45] hifabienne commented on #4543
@DavideWalder I think we found the bug.
We can see that the lifetimes on your instance login policies are all set to 0.
This means, that e.g password should be checked after 0 seconds, and results in staying on the password screen.

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/38692350/197727674-4f50d50e-6836-4dd7-9980-756b13cff813.png">

[2022-10-25 08:51] hifabienne commented on #4543
Is it possible that you have configured this somewhere and it is set to 0? Maybe terraform?

[2022-10-25 09:33] DavideWalder commented on #4543
@hifabienne Thanks a lot for the find! I changed password check lifetime to 241 hours in the instance settings and it now works (no need to override the instance settings in the org)

I'm controlling the instance settings with a script (complementing the Terraform setup, since instance objects are not supported yet) where I'm in fact not specifying the lifetimes.

If I understand correctly there s

[2022-10-25 09:39] hifabienne commented on #4543
I am happy that we found the problem.

@peintnermax @livio-a I thought we changed the frontend to not showing some defaults? Is this not yet deployed?

[2022-10-25 09:41] hifabienne commented on #3958
@yasukawa426 I will close this issue, because without any more information we will not be able to help.
Feel free to reopen as soon as you provide us some infos.

[2022-10-25 09:41] #3958 closed

[2022-10-25 09:42] peintnermax commented on #4543
this will be fixed with https://github.com/zitadel/zitadel/pull/4575

[2022-10-25 09:42] sueess opened #4607 "Branding: Adjust Favicon and page titles"
The branding page misses the adaption of the favicon and the page titles are not translated.

**Acceptance criteria**
- The Logo defined in the branding page (Instanz Einstellungen --> Branding) is used as favicon
- The page title (<title>) appears in the right language

![Bildschirmfoto 2022-10-25 um 11 39 25](https://user-images.githubusercontent.com/6587992/197740480-2ffb4e0f-7c85-4f3c-b83d-34b

[2022-10-25 09:43] hifabienne commented on #4543
Great.

@DavideWalder I will close the issue, since we found the problem. With the fix on the other pr you should then also see if the values are not set.

[2022-10-25 09:43] #4543 closed

[2022-10-25 13:11] #4565 closed

[2022-10-25 13:39] hifabienne opened #4609 "LDAP Login"
As an end user I want to be able to login with my user of an LDAP, so I can use my existing user and do not have to create a new one.

**Acceptance criteria**
- [ ] I am able to login with my LDAP user
- [ ] If my user doesn't exist in ZITADEL I have just in time provisioning
- [ ] UI to be able to enter the ldap user credentials (should look like our own login just with username and password)

**

[2022-10-25 13:40] hifabienne commented on #4609
From our side we will implement this preferable after #4431
But it will be possible before.
It takes us about 3 weeks to implement

[2022-10-25 13:43] eliobischof commented on #3588
Maybe we can run a cloud run job using the gcloud terraform provider https://github.com/terraform-google-modules/terraform-google-gcloud

@livio-a , when we deploy an init/setup job using a newer image tag, is the old revision still allowed to serve traffic during the job execution?

[2022-10-25 13:43] livio-a commented on #4604
Hey @lapin-b

There was an issue with indexes on postgres, because in contrast to cockroach where indexes must be unique on a table, postgres requires uniqueness in the schema. We resolved it with https://github.com/zitadel/zitadel/pull/4439, release with version 2.6.0.

Is it possible for you to upgrade to 2.6.0?
As a workaround you could rename the indexes on table projections.apps2 and projecti

[2022-10-25 13:48] livio-a commented on #3588
The old revision must serve traffic until the new is ready
IMO it might even make sense to then gradually swift traffic from the old to the new revision

[2022-10-25 15:14] Dima-Kal opened #4610 "Unable to start zitadel using example"
**Describe the bug**
When container is started the following issue appears and the container is constantly restarting:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Used the example here:
https://docs.zitadel.com/docs/guides/deploy/loadbalancing-example

[2022-10-25 15:37] lapin-b commented on #4604
Hello @livio-a

Thanks for the answer. I have upgraded to version 2.6.0 ─ it's a matter of running an Ansible playbook ─ and I have renamed the indexes on the tables `projections.apps2` and `projections.keys2` according to the following SQL statements and your suggestions:

[code]

I've restarted the service; the same errors are still present.

[2022-10-25 19:07] helmut72 commented on #4609
Would be cool to read `jpegPhoto` from LDAP to provision the profile picture in Zitadel. Thanks :)

[2022-10-26 06:16] hifabienne commented on #4610
Hi @Dima-Kal
The error message tells that the PasswordComplexityPolicy defines that a password should contain an upper letter.
Do you have an upper letter in the password of your first admin user?

[2022-10-26 06:41] Dima-Kal commented on #4610
yes, tried it with "Secret_DB_User_Password"
and then changed it to:
[code]

[2022-10-26 06:47] hifabienne commented on #4610
Hei @Dima-Kal
This message is not about your DB-User.
It is about your first user in your ZITADEL instance that has admin rights.
It should be in the FirstInstance

[2022-10-26 07:00] Dima-Kal commented on #4610
Ok that indeed solved it, I had another issue:

[code]

"solved" it by removing 'Cert' and 'Key' from this configuration
Database:
  cockroach:
    Host: 'zitadel-db'
    User:
      SSL:
        Mode: 'verify-full'
        RootCert: "/crdb-certs/ca.crt"
       # Cert: "/crdb-certs/client.zitadel_user.crt"
       # Key: "/crdb-certs/client.zitadel_user.key"

[2022-10-26 07:22] hifabienne commented on #4610
I will close the issue since we have found the problem

[2022-10-26 07:24] Dima-Kal commented on #4610
Should i open a new issue regarding this?

[code]

[2022-10-26 07:27] mffap opened #4613 "Username overflow in login ui"
**Describe the bug**
The username overflows the displayed field for long, but allowed usernames.

**To Reproduce**
Create a user with long username (eg, mpa+uxtest20221026@mpa+uxtest20221026.zitadel.cloud) and complete user initialization and login.

- `/ui/login/init`
- `/ui/login/password`
- `/ui/login/mfa/prompt`
- `/ui/login/loginname`
- ...

**Expected behavior**
UI to respond to long usernam

[2022-10-26 07:33] mffap opened #4614 "Console create organization use personal account by default"
When creating a new organization, the option "Use your personal account as organization owner" is disabled by default and a form is presented to the user.

I would suggest to enable the option by default to reduce friction for first-time users. There are certain cases where you want to be in control and create a new org-owner user when creating an org. Yet this feels like an advanced use case.

Op

[2022-10-26 07:33] mffap commented on #4614
@juergrinaldi do you agree?

[2022-10-26 07:37] hifabienne commented on #4614
I totally agree. This did already annoy me a few times.

[2022-10-26 07:40] juergrinaldi commented on #4614
completely agree. 👍

[2022-10-26 08:20] #4462 closed

[2022-10-26 08:25] hifabienne commented on #4610
@Dima-Kal

[2022-10-26 08:27] Dima-Kal commented on #4610
I've used the example here https://docs.zitadel.com/docs/guides/deploy/loadbalancing-example
here's my compose:

[code]

[2022-10-26 09:03] hifabienne commented on #4610
We will have a look at it

[2022-10-26 09:13] eliobischof commented on #4610
I can reproduce the issue and am working on a fix.

[2022-10-26 11:34] #4610 closed

[2022-10-26 11:39] eliobischof commented on #4610
@Dima-Kal the files zitadel-secret-config.yam amd docker-compose.yaml in the example is fixed. Can you please download these files as described in the docs and try again?

[2022-10-26 11:52] Dima-Kal commented on #4610
Hey @eliobischof  look like its starting now:
[code]

but when trying to access https://192.168.100.100:47983/ (local server ip address, 47983 mapped to 8080) and its not reaching web interface

[2022-10-26 12:09] peintnermax commented on #4593
In order to show the data, the user profile has to be extended with this information backend-wise as a regular user has no access to request the policy.

[2022-10-26 12:09] eliobischof commented on #4610
ZITADEL is listening on :8080, but with the example, you have a traefik proxy in between that listens on :443.

Also, ZITADEL maps the [virtual instance](https://docs.zitadel.com/docs/concepts/structure/instance#multiple-virtual-instances) using the requests host header. In the example, that's my.domain.

See https://docs.zitadel.com/docs/guides/deploy/loadbalancing-example
![image](https://user-i

[2022-10-26 12:15] Dima-Kal commented on #4610
@eliobischof I dont have a rules file for traefik, can you give an example what to configure via labels?

[2022-10-26 12:24] eliobischof commented on #4610
I think you don't need to adjust the example traefik config.
![image](https://user-images.githubusercontent.com/12727842/198024298-25ec74ac-918e-407d-8220-92e9ef317eb6.png)

I guess *192.168.100.100* is a virtual machine? I think all you need to do is to map the VM port *47983* to *443*, configure *ExternalPort* in *example-zitadel-config.yaml* to *47983* and add the line *192.168.100.100 my.domai

[2022-10-26 13:06] #4597 closed

[2022-10-26 13:48] mffap commented on #4192
@hifabienne do we have a description of all the mfa methods in the docs?

[2022-10-26 14:59] eliobischof commented on #4610
Your traffic goes first to the Traefik proxy which is listening at :443, from there it goes to zitadel over the docker network. You can see this in the Traefik config:
![image](https://user-images.githubusercontent.com/12727842/198061563-4cfa5972-c037-4adc-9cbf-62ec8b6b41e5.png)

What is your current error?

[2022-10-26 15:07] Dima-Kal commented on #4610
@eliobischof
traefik reports the following issue:
[code]

these are the labels i've configured:
[code]

[2022-10-26 15:17] eliobischof commented on #4610
What happens if you take the exact example files like described in the [docs page](https://docs.zitadel.com/docs/guides/deploy/loadbalancing-example) and just do the steps I described [above](https://github.com/zitadel/zitadel/issues/4610#issuecomment-1291954078)?

Because in the compose file [you posted above](https://github.com/zitadel/zitadel/issues/4610#issuecomment-1291676975), you don't have

[2022-10-26 15:47] Dima-Kal commented on #4610
another issue, if trying to start compose stack again, the chown container fails:

[code]
needed to disable certs container and dependency in zitadel

[2022-10-27 06:08] #4598 closed

[2022-10-27 06:38] #4588 closed

[2022-10-27 13:16] mffap commented on #2867
too niche.

[2022-10-27 13:16] #2867 closed

[2022-10-27 20:04] SBejga commented on #4464
Hello,

I have seen there is a commit in zitadel/saml. Can you say something about the timeline of this issue? Couple of days or weeks?

We are waiting for this fix to restart testing with our applications :-)

[2022-10-27 21:30] fforootd commented on #4464
Since [ZITADEL v2.11.0](https://github.com/zitadel/zitadel/releases/tag/v2.11.0) already uses [SAML v0.0.8 ](https://github.com/zitadel/zitadel/issues/4464#issuecomment-1294005968) I think this could be resolved.

@stebenz can you verify this please

[2022-10-28 07:20] livio-a commented on #3995
multiple PRs that focused other issues also reduced this problem, incl.
- https://github.com/zitadel/zitadel/pull/4612
- https://github.com/zitadel/zitadel/pull/4632

[2022-10-30 04:15] pflegende opened #4637 "New Admin could not work with instance"
**Describe the bug**
try to open instance. But next step not available. Only again NewUser workflow appears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard with instances. 1 instance is listed. = ok
2. Click on 'arrow right on top' (of the listed instanc)
3. See error
it apears the first window of new user dialog after recieving a mail (but it was completed before)

**Expect

[2022-10-30 06:17] mffap commented on #4637
Hi @pflegende when creating a new instance you should get an email with the credentials at the moment. You can sign into your instance with these credentials and will land in the Console, where you can manage everything. The flow is at the moment not very intuitive, we are currently working on improving this in various ways (signup with email, sso to instances etc..). Let me know if you could logi

[2022-10-30 06:21] mffap commented on #4564
related #4298

[2022-10-31 08:14] hifabienne opened #4639 "Extend import user for external users"
At the moment it is only possible to import users with username and password. But some organizations do only allow login with an external idp. It should be possible to import the user directly with a link to the idp

**Acceptance criteria**
- [ ] Extend the import human user with external idp (idpid, userid, displayname)
- [ ] If only external idp is enabled on the org, no init mail should be sent

[2022-10-31 08:17] eliobischof commented on #4610
Can you configure the port using a label, as described [here](https://doc.traefik.io/traefik/providers/docker/#port-detection)?

[2022-10-31 08:32] eliobischof commented on #4610
Good catch.
Created a PR that fixes this https://github.com/zitadel/zitadel/pull/4640

[2022-10-31 12:49] peintnermax commented on #4391
#4641 uses the description for the meta tag description, it is also configurable in console

[2022-10-31 13:31] livio-a opened #4643 "enable iframe use"
For security reasons we currently deny the use of iframes for ZITADEL. This leads to problems for some customers with a SPA and silent sign in / silent refresh, e.g. https://discord.com/channels/927474939156643850/1033389198218117191/1033389198218117191

After some discussions, we propose the following change:
- [ ] add new setting on instance level:
  - [ ] enable iframe use
  - [ ] list of allow

[2022-10-31 14:21] mffap commented on #4639
@DavideWalder for your info

[2022-10-31 22:07] Foxtrek64 opened #4646 "DNS Verification Failed - ORG-GH3s"
**Describe the bug**
Wasn't sure whether to create a new issue or to bump #4086 but I am now encountering the same issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your organization's domain settings.
2. Add a new domain using DNS registration.
3. Create the `_zitadel-challenge` TXT record in DNS
4. Confirm with nslookup
5. Verify domain

**Expected behavior**
Domain verification

[2022-10-31 23:25] Foxtrek64 commented on #4646
Guess I'm going to close this ticket because it eventually resolved itself. I went to dinner and tried again when I came back and it verified successfully. Perhaps it had to do specifically with me basically "seizing" the domain as it was originally tied to an instance on zitadel.ch.

[2022-10-31 23:25] #4646 closed

[2022-11-01 16:19] cedegi opened #4647 "Error changing password: invalid UpdateMyPasswordRequest.OldPassword: value length must be at most 70 bytes"
**Describe the bug**
When i try to change my password, i get the error:

 invalid UpdateMyPasswordRequest.OldPassword: value length must be at most 70 bytes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Password and Security'
2. Click on 'set new Password'
3. enter old password and new password twice
4. See error

**Expected behavior**
i would suspect a changed password

**Screensho

[2022-11-02 06:05] livio-a commented on #4647
Hey @cedegi

We use bcrypt algorithm to securely hash passwords. The algorithm can take a maximum input of 72bytes. Any further input will result in the same hash.
A password with this length (and a decent complexity of course) is secure enough. If security is a concern, I'd suggest setting up 2nd factor. Best would be a WebAuthN / UTF based like TouchID/FaceID, WindowsHello and so on.
And you cou

[2022-11-02 07:07] cedegi commented on #4647
Hi livio,

I am fine with that, yes - otherwise we shouldn't allow user to set such a long Password as an initial one, so the user user can't change his password afterwards in the console. Passwort reset in logged out condition worked fine :)

[2022-11-02 07:20] livio-a commented on #4647
Sorry I didn't get that the initial password can be set longer than that. That's a bug then and i'll take this issue to track it.
Thanks for letting us know.

[2022-11-02 10:05] DavideWalder opened #4648 "Confusing behaviour in the 2-Factor Setup screen"
**Describe the bug**
It is not clear that an option needs to be selected (we received complaints that nothing happens when clicking "next").
Also, the "skip" and "next" buttons change the cursor to a finger pointer, but the MFA options don't (it is not clear that they are clickable).

Possible solutions:
- preselect one of the two. In that case which one is selected should be clearly visible, curr

[2022-11-02 13:40] juergrinaldi commented on #4648
Hi Davide,
Thanks a lot for bringing this up. I'll have a look.
There's definitely some room for improvement here.

[2022-11-02 17:37] Dima-Kal commented on #4610
added
[code]
did not work

[2022-11-03 10:38] juergrinaldi commented on #4648
I suggest the following fixes:
- Make the selection border `3px` wide. This ensures that it's more visible to the user
- Additionally highlight the background of the button (more on that below _(1)_) to emphasize the selection even more
- set pointer to the mouse cursor as with the other buttons
- disable 'next' while nothing is selected _(2)_
- Add the text `'Please select one of the options belo

[2022-11-03 11:22] #3985 closed

[2022-11-03 15:25] caniszczyk opened #4651 "Secure an OpenSSF Best Practices badge"
I'd recommend securing an OpenSSF best practices badge: https://bestpractices.coreinfrastructure.org/en

It helps with latest open source security best practices

[2022-11-04 09:21] fforootd commented on #4651
Great idea, let me check if we tick already all the boxes 😁

[2022-11-04 09:22] #3588 closed

[2022-11-04 09:35] mffap opened #4653 "Inform users about password change"
[BSI cloud computing compliance (C5) - PSS-05](https://www.bsi.bund.de/DE/Themen/Unternehmen-und-Organisationen/Informationen-und-Empfehlungen/Empfehlungen-nach-Angriffszielen/Cloud-Computing/Kriterienkatalog-C5/C5_AktuelleVersion/C5_AktuelleVersion_node.html):
The user is informed about changing or resetting the password

Today, a user is being notified when the password was reset, but not when t

[2022-11-04 09:38] mffap commented on #4653
fyi @cedegi

[2022-11-04 12:48] peintnermax commented on #3989
I'd preferably use a frontend framework like nextjs or svelte (-kit) for the new UI, something capable of hydrating the UI in the most efficient way, such that assets are not reloaded on every server side call, and for user customization I would use shopifys liquid templating which is also opensource.

https://shopify.dev/api/liquid

[2022-11-06 19:11] helmut72 commented on #4090
This **VERY** important! Configured DEX in the organization menu doesn't show a "DEX" button on Zitadels login page.

But all at all it doesn't work, no matter what I have tried: "verlinken/link" or "registrieren/register". After pressing one or the other button, I can't login with that user. The user isn't created even if I get no message "invalid userdata".

[2022-11-07 08:55] #4391 closed

[2022-11-07 09:01] stebenz opened #4670 "Display of only one available external IDP"
**Describe the bug**
If you request the LoginPolicy for a specific organization, the result always only includes one external IDP.

**To Reproduce**
Steps to reproduce the behavior:
1. Add several external IDPs to the organization
2. Get LoginPolicy with organization ID
3. See only one available IDP

**Expected behavior**
List of all added external IDPs.

**Screenshots**
![image (3)](https://user-

[2022-11-07 10:17] fforootd commented on #4653
@mffap do you know if that only applies to password changes? In my mind it could also be applicable to passwordless and mfa, otp changes.

[2022-11-07 10:19] mffap commented on #4653
Yes. That's why I linked the original discussion about this feature (considerations). We could expand this. The must requirement for this task is password change.

[2022-11-07 10:22] fforootd commented on #4653
Ok, good to know 👍

[2022-11-07 11:40] eliobischof opened #4671 "Changing language on instance level doesn't work."
**Describe the bug**
Changing an instances language after from scratch installation doesn't work. The console instead prints an error about missing SMTP settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Install ZITADEL from scratch
2. Go to instance general settings
3. Change language
4. Refresh

**Expected behavior**
Language is changed.

**Screenshots**
![image](https://user-images

[2022-11-07 14:16] livio-a commented on #4639
there aren't any initial mails if the email is imported as verified

[2022-11-07 15:13] hifabienne commented on #4671
I tried this on my ZITADEL cloud instance. And I can't reproduce it. @eliobischof can you see what requests are done?
The setting is changed correctly. Only problem the loading icon doesn't disappear after.

![Image](https://user-images.githubusercontent.com/38692350/200345274-8573db31-2939-4c03-b506-4bebf02c50ea.png)

[2022-11-08 12:18] mffap commented on #4586
I just had a very similar discussion. Here some thoughts that fit nicely with the requirements for this issue.

What is lacking is a simple overview of all applications that are available to a user. It's basically what we have in https://github.com/zitadel/zitadel-nextjs-b2b (without authorizations) and in the branding of the organization. This view should be available to end-users, similar to our

[2022-11-08 12:45] peintnermax commented on #2105
this has already been fixed

[2022-11-08 12:45] #2105 closed

[2022-11-08 12:54] stebenz commented on #4464
yes this is included in v0.0.8

[2022-11-08 13:21] fforootd commented on #2947
@hifabienne I think we should use this issue to track our effort in regard of becoming a SAML2 SP

[2022-11-08 13:21] fforootd commented on #2947
Relates to #4431

[2022-11-08 13:58] eliobischof commented on #4671
The instance language is new users default language. The users language defines how the console is displayed. Therefore works as expected, apart from the spinner (PR is linked).

[2022-11-08 14:34] peintnermax commented on #4671
spinner is fixed with #4676

[2022-11-09 07:19] #4177 closed

[2022-11-09 08:16] #4568 closed

[2022-11-09 08:22] mffap commented on #4637
@pflegende we did several changes over the last few days to improve performance. That should solve the issues around the console. Could you please check, if it works ok for you?
I'm closing this issue for now. Please feel free to re-open, if the issue persists for you.

[2022-11-09 08:22] #4637 closed

[2022-11-09 08:33] #4639 closed

[2022-11-09 09:12] livio-a commented on #4487
we also need change the unique constraints

[2022-11-09 11:49] KaKi87 commented on #4177
Hello,
Will this also redirect logged in users to their dashboard ?
Thanks

[2022-11-09 14:41] peintnermax opened #4681 "console: make username copyable from delete dialog"
Move username to the description above as the label of the formfield is not suitable for copying

<img width="390" alt="Bildschirmfoto 2022-11-09 um 15 41 23" src="https://user-images.githubusercontent.com/10165752/200859823-c8c1e380-582e-4833-972c-98ca4616808c.png">

[2022-11-09 17:51] mffap commented on #4681
Yes, please 👍

[2022-11-09 20:38] fforootd commented on #4681
Yes 😁

[2022-11-09 20:41] fforootd commented on #4177
Hey @KaKi87 this redirects only from / to /ui/login.

By default, if a user does login, he is redirected to /ui/console.

However you can change the default redirect URI if you access /ui/console/settings?id=login

![image](https://user-images.githubusercontent.com/9879976/200937282-32ede743-e2c6-43c0-a1b3-6ccfdbf16f97.png)

[2022-11-09 21:30] coelho opened #4682 "update saml dependency to v0.0.9"

[2022-11-09 21:44] peintnermax commented on #4681
didn't expect this to be so critical 😂

[2022-11-09 21:47] fforootd commented on #4681
Haha it is... doing demos often and you see this as problem 😁

[2022-11-09 22:11] fforootd commented on #4177
Out of curiosity... that is not what you experience with ZITADEL right?

[2022-11-09 22:58] KaKi87 commented on #4177
No, as I said, I checked. :)

[2022-11-10 09:14] DavideWalder opened #4685 "docs: incomplete error message description (authorization_endpoint)"
**Describe the bug**

I received the error `interaction_required` from the authorization endpoint, which is not described in the ZITADEL documentation: https://docs.zitadel.com/docs/apis/openidoauth/endpoints#error-response

I saw that the error is a valid OIDC error: https://openid.net/specs/openid-connect-core-1_0.html#AuthError

The documentation should either describe all the possible errors o

[2022-11-10 11:24] #4334 closed

[2022-11-10 13:05] #4514 closed

[2022-11-10 13:05] #4529 closed

[2022-11-10 13:05] #4530 closed

[2022-11-10 13:40] fforootd commented on #4682
CC @hifabienne @stebenz

[2022-11-10 14:16] #4651 closed

[2022-11-14 11:13] peintnermax opened #4702 "validate email in login UI"
Make sure local only addresses are not allowed
valid: `johndoe@example.com`
invalid: `johndoe@example`

[2022-11-14 14:44] KaKi87 commented on #4190
I was actually surprised while reading this on my registration page, I see this quite rarely, why choosing this form ?

Thanks

[2022-11-14 15:15] #4670 closed

[2022-11-14 15:41] #4614 closed

[2022-11-14 15:41] #4671 closed

[2022-11-14 16:11] #4681 closed

[2022-11-15 06:30] #4682 closed

[2022-11-15 09:25] virth opened #4703 "[Bug]: user gets initialize-user email in the wrong language"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Describe the bug

A user can see the registration form in his preferred language. (The language he has selected on his device).

But the «initialize user» email always comes in the i

[2022-11-15 09:32] virth commented on #4703
Be careful when trying to reproduce this. For some reason Chrome on MacOS 12.4 has issues to change the language according to the macOS system default. I didn't dig in to this but if you use Safari you're just better off in this case 🙈

[2022-11-15 12:32] mffap opened #4704 "Replace domain dynamically in documenation"
**Background**
Some variables in our docs should be replaced automatically throughout the docs. Benefits are that the users can directly copy-paste values from the docs and use them in their scripts/shell. Also this helps with consistency throughout the docs and examples.

**Considerations**

- It should work for oss users. Sure a final version could be (additionally) that users login in ZITADEL C

[2022-11-15 13:13] eliobischof commented on #4604
@lapin-b sorry for the delay. I guess you still have the issue above?

[2022-11-16 08:48] virth opened #4706 "[Bug]: registration ui breaks with long custom-domains"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Describe the bug

registration and logn ui break with long custom-domains

### To reproduce

1. create ZITADEL Org
2. use looooong custom-domain
3. open register or login-ui

### Scr

[2022-11-16 12:03] lukasver commented on #4431
Hello!
We are looking to add LinkedIn as IP for our application, so it would be helpful to have a template and/or know if you plan to add this IP any time soon.
Thanks!

[2022-11-16 14:44] adlerhurst opened #4708 "Event Sourcing Architecture"
The purpose of this issue is to design a document to clarify how event sourcing is used in ZITADEL. RFCs for the event sourcing layer should always rely on this document. The document will change over time. Especially during the initialisation phase. Later the document will be stored as markdown file. This document is not meant to replace any parts of the docs pages.

The document:

# Eventsourcin

[2022-11-16 16:38] mffap commented on #3739
relates to #4708

[2022-11-16 16:40] mffap commented on #3757
@eliobischof @fforootd are these points currently answered in the docs in your view? What's missing from that list?

I think we did a good improvement with https://docs.zitadel.com/docs/guides/manage/self-hosted/production

[2022-11-16 16:40] mffap commented on #3756
relates to #3739

[2022-11-16 18:18] fforootd commented on #3757
I think that's fine for the moment.

Lets see first what else people want to see.

[2022-11-16 18:18] #3757 closed, assigned to fforootd

[2022-11-16 19:48] fforootd commented on #4708
Should this not be stored as PR template and triggered when something changes in folder xyz?

[2022-11-16 20:27] adlerhurst commented on #4708
Thanks

My initial thoughts were that this document should be used during issue discussions. As soon as something is getting implemented different checks should apply, like [benchmarks](https://pkg.go.dev/golang.org/x/benchmarks) which should not decrease in speed, which might be a good metric for a PR template.

With an issue discussion I mean something like a change to read models in the framewo

[2022-11-16 20:45] mffap commented on #4127
Mentioned also in https://discord.com/channels/927474939156643850/1042538631920881706

[2022-11-16 20:55] fforootd commented on #4708
Ok I see your point. In that case an issue template might make sense.

[2022-11-16 23:40] adlerhurst commented on #4708
@fforootd

To be honest im not sure so far. I want to get a feeling of what feels right to the development proceds and afterwards manifest some business processes for that

[2022-11-17 08:09] hifabienne opened #4712 "Use system config for OTP name"
As an end user of ZITADEL I want to be able to see for which system I have configured OTP and not that is is ZITADEL, because most of the time I do not know what ZITADEL is.

**Acceptance criteria**
- [ ] When I configure a new OTP I do not see ZITADEL somwhere
- [ ] When I add a new OTP I see the requested instance domain as "name" (take it from the instance context)

**Additional Context**
At th

[2022-11-17 08:11] fforootd commented on #4708
Ok so I ask differently how should "somebody" know that he should respect the content of this issue?

We certainly can start this way. I am only asking because I think nobody will know when and how to use this 😁

[2022-11-17 08:13] fforootd commented on #4706
FYI @peintnermax

[2022-11-17 08:20] peintnermax commented on #4706
https://github.com/zitadel/zitadel/pull/4672/commits/17e3b93489260c573db35685b9cac9f4c9e06ffa fixes the problem

[2022-11-17 08:40] adlerhurst commented on #4708
I totally agree. My priority list looks like this: define the purpose of the doc > design document > fill doc > design processes

[2022-11-17 08:53] lapin-b commented on #4604
@eliobischof Yes, the issue is still a thing. As a reminder, I've switched to version 2.6.0 and edited a few indexes on the database according to the SQL queries I have written.

[2022-11-17 09:23] peintnermax commented on #4702
This setting will be defined in a custom policy and defined in a upcoming issue.

[2022-11-17 09:23] #4702 closed

[2022-11-17 12:25] #4613 closed

[2022-11-17 12:25] #4648 closed

[2022-11-20 07:17] hanrea opened #4719 "feat: Add Chinese translate document"
Description
I hope to help your add Chinese documents , I suggest splitting the document directory into separate git repositories。
**Acceptance criteria**
- [Document ] Add Chinese translate document

[2022-11-20 13:35] hanrea commented on #4719
[💊 crowdin project](https://crowdin.com/project/zitadel)
[ 🧬  separate repositories](https://github.com/vecmat/zitadel_doc.git )  (Translating)

[2022-11-21 09:41] hifabienne commented on #4572
@peintnermax did you have a look at this? is it a frontend or backend problem? Or is it because the labels are empty?

[2022-11-21 10:01] DavideWalder opened #4730 "[Bug]: New auto-registered external IDP users get an email verification code"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Describe the bug

When a user auto-registers by logging in with an external IDP (Azure in our case), they get an email verification code. Is it possible to consider email addresses f

[2022-11-21 10:06] hifabienne commented on #4730
Hi @DavideWalder

When registering with an external idp we take the attributes we get in the token from the idp.
Unfortunately Azure AD does not send the email_verified attribute.

We have a solution for this, you can find it in our azure ad idp guide:
https://docs.zitadel.com/docs/guides/integrate/azuread-oidc#create-user-with-verified-email

[2022-11-21 10:08] DavideWalder commented on #4730
Perfect, didn't see that part of the docs. Thanks!

[2022-11-21 10:08] #4730 closed

[2022-11-21 15:27] peintnermax commented on #4572
<img width="519" alt="Bildschirmfoto 2022-11-21 um 16 25 37" src="https://user-images.githubusercontent.com/10165752/203092877-7497c415-7497-437f-a912-fcfe599a810f.png">

This is a backend issue.. externalUserNotFoundTexts from getDefaultLoginTexts return empty strings in contrast to others

[2022-11-21 20:43] fforootd commented on #4719
Hi @hanrea

Thank you for bringing this up. Do I understand you correctly that you would like to help translate ZITADELs documentations into Chinese?

I am asking because at the moment we lack the resources and skills to contribute in a meaningful way to this 😁

[2022-11-22 00:37] hanrea commented on #4719
Hey  @fforootd
Yes, I will translate the documents into Chinese, Translate work in progress, maybe I need a little help.
But I don't know whether you need the Chinese version. If you need it, I will contribute and submit it. If not, I will release it as a third party.
I have more ideas about promoting Zitadel in China. If you are interested, please contact me. In the early days, I was a technical

[2022-11-22 10:23] mffap commented on #4472
@hifabienne is this resolved with the new guide?
https://docs.zitadel.com/docs/guides/integrate/azuread-oidc

[2022-11-22 10:24] mffap commented on #4265
@fforootd or @hifabienne can you split out the next phases in new issues, please?

[2022-11-22 10:39] #4472 closed

[2022-11-22 11:20] eliobischof opened #4737 "SMTP: Configuring host without port is valid, but ZITADEL then fails to send mails"
As an ZITADEL admin I want to be able to setup a working SMTP as easy as possible, configurations that result in an error should be avoided.

**Acceptance Criteria**
- [ ] I am not able to set a host without a port
- [ ] The lable of the field tells me that I have to enter host and port

**Additional Information**
The following is valid input for the SMTP field "Host"...

![image](https://user-ima

[2022-11-22 12:10] mffap commented on #2704
![image](https://user-images.githubusercontent.com/1366906/203310512-170d94fb-f947-42d2-8d24-2252d2dac1d6.png)

[2022-11-22 12:10] #2704 closed

[2022-11-22 12:11] mffap commented on #2099
To my knowledge there's currently no way to influence the behavior of Chrome in a meaningful way, thus closing this issue for now.

[2022-11-22 12:11] #2099 closed

[2022-11-22 13:09] juergrinaldi commented on #4531
In my opinion it is best to just replace the 'organization' column with 'parent organization' and showing the user-context organization, as the authorization context isn't as important in this view. (counter opinions?)
![image](https://user-images.githubusercontent.com/48990649/203321419-3cba66a6-3bb1-4797-8cac-dab985804203.png)

Another approach is to show external auths with an icon and display

[2022-11-22 16:51] stebenz commented on #4572
fix is included in #4733

[2022-11-22 21:40] fforootd commented on #4719
Got it!

Let me check-in with the team how we would like to proceed with this. Should not take me too long to come around again.

Already thanks for your effort!

[2022-11-23 01:57] coelho opened #4739 "[Bug]: Migration 05 breaks Postgres compatibility"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

Self-hosted

### Describe the bug

Error Message:

[code]

Relevant migration:
https://github.com/zitadel/zitadel/blob/main/cmd/setup/05.go

### To reproduce

Start v2.13.0 using Postgres.

### Screens

[2022-11-23 02:41] coelho commented on #4739
Confirmed this still exists in v2.14.0-true.1 branch.
https://github.com/zitadel/zitadel/blob/v2.14.0-true.1/cmd/setup/05.sql

[2022-11-23 06:34] livio-a commented on #4739
Hey @coelho Thanks for reporting this. I've already created a PR to fix this: https://github.com/zitadel/zitadel/pull/4740

[2022-11-23 07:26] coelho commented on #4739
Re: Additional Context (concern about other indexes), I did a quick check:

[code]

Migrations:

[code]

Looks like there's no conflicts in the rest of the code, so no concerns there.

[2022-11-23 07:59] MinDBreaK opened #4742 "[Bug]: Unable to send emails : Could not set sender"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [ ] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

Self-hosted

### Describe the bug

I'm currently facing an issue with sending emails. Whenever I try to send one, I'm facing the following issue in the logs

[code]

### To reproduce

1. Create a accou

[2022-11-23 09:04] MinDBreaK opened #4744 "[Bug]: Unable to migrate from 1.12.0 to 1.13.0 with postgresql"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [ ] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

Self-hosted

### Describe the bug

The migration fails with the migration from 2.12.0 to 2.13.0 with the following logs

[code]

### To reproduce

1. Setup an instance to 2.12.0
2. Stop instance
3. Cre

[2022-11-23 09:05] MinDBreaK commented on #4744
Sorry, havn't seen the other issue. Closing in favor of #4739

[2022-11-23 09:05] #4744 closed

[2022-11-23 09:06] juergrinaldi opened #4745 "Back Button on Login Prompt not behaving as expected"
If I select one of the previously used accounts from the list, then press the 'back' button, I won't get redirected back to the previous screen with the list, but to the 'manual' inputfield.
Not only isn't this as expected (back to where I came from) but also not very helpful.

A) I select one of the previously used accounts from the list
![image](https://user-images.githubusercontent.com/48990649

[2022-11-23 09:40] mffap commented on #4745
Is this the same as #2097 ?

[2022-11-23 09:46] juergrinaldi commented on #4745
It is. 🙈 Sorry, couldn't recall that I already opened an issue for this.

[2022-11-23 09:46] #4745 closed

[2022-11-23 11:14] CMiksche commented on #4604
I have the same Issue. Tried out different versions from 2.12 to 2.6 (not 2.13 because of #4739) but the Issue is still there.

I also checked the indexes and they seem to be correctly updated:

[code]

[2022-11-23 11:25] #4739 closed

[2022-11-23 12:13] adlerhurst commented on #4604
@lapin-b from which version did you want to update? I started with zitadel v2.5.0 and updated to v2.6.0 without any issues. We will deploy 2.13.1 also as stable. We fixed a lot of bugs for version updates and postgres. It might be a good soloution to update to this version later this week?

[2022-11-23 14:06] #3678 closed

[2022-11-23 18:29] lapin-b commented on #4604
I have tried upgrading from 2.4.0 to 2.5.0 when the latter has been released. I imagine that the current issue has been fixed somehow ? I'll check when 2.13.1 is released.

I've upgraded to 2.13.0, some errors regarding the database migration appeared. Those have been reported with #4739 and fixed with #4740.

[2022-11-23 20:15] fforootd commented on #4744
Thank you for closing the duplicate I think the fix should be released tomorrow 😁

[2022-11-23 20:18] fforootd commented on #4742
Hm, @livio-a @adlerhurst whats your take on this. Is the projection error the reason or do we have an issue around non username/password auth? (using no auth besides the ip)

[2022-11-24 05:57] coelho opened #4758 "Store Webauthn Attestation on registration"
**Description**

Zitadel should store the Webauthn Attestation for future audits.
Follow up on: https://github.com/zitadel/zitadel/discussions/4429

**Acceptance criteria**
- [ ] Attestation Conveyance Preference should be configurable or be by default "direct". Currently it is "none".
https://github.com/zitadel/zitadel/blob/main/internal/webauthn/webauthn.go#L78
This appears to cause Yubikey hard

[2022-11-24 07:54] #2478 closed

[2022-11-24 08:46] #4685 closed

[2022-11-24 10:06] livio-a commented on #4742
could well be... i'll check later today

[2022-11-24 10:55] CMiksche commented on #4604
I upgraded to the new 2.13.1 version from today, restarted the service and still get the same Issue:

[code]

I also get lots of the following messages:

[code]

[2022-11-24 12:22] hifabienne commented on #4758
Hi @coelho
Thanks for creating the issue, we will have a look at it in our next planning and prioritize it.

[2022-11-24 12:26] hifabienne commented on #4584
@peintnermax what is the progress of this issue?

[2022-11-24 12:28] hifabienne commented on #4583
@peintnermax I think its what we discussed here: https://discord.com/channels/927474939156643850/1019895518383583323/threads/1042021943202828369

What is the state?

[2022-11-24 12:30] hifabienne commented on #4570
@livio-a not sure but I believe this is already fixed right?

[2022-11-24 13:16] peintnermax commented on #4584
Could not reproduce this issue tn the cloud. @adlerhurst Can you take a look if the labelpolicy is correctly returned with a postgres db as this could prevent the toggle to be shown?

[2022-11-24 13:46] mffap commented on #2910
Just had the same issue again with version 2.13.0 on zitadel.cloud

Issue came after sending a passwordless registration link and entering the device name `Desktop`

![image](https://user-images.githubusercontent.com/1366906/203799263-37c28243-7416-4034-9c1f-b3d9848587d4.png)

[2022-11-24 13:57] hifabienne commented on #4150
@livio-a @peintnermax can we close this?

[2022-11-24 13:58] hifabienne commented on #4057
@juergrinaldi can we close this? since you created another issue in the portal repo?

[2022-11-24 14:19] hifabienne opened #4764 "Allow system api token on other apis"
At the moment the system api has a different authentication mechanism than the other apis. For setup purpose it would be great to be able to make requests to other apis (admin and management) with the system token. So we can enable the customer portal to setup things.

**Acceptance criteria**
- [ ] Allow System API Token on the ManagementAPI
- [ ] Allow System API Token on the AdminAPI

[2022-11-24 14:32] MinDBreaK commented on #4742
I just tested with mailtrap.io with an user and a password, and has no trouble to send emails to it. configuration was identical, with the same port.

As a reference, I followed this guide https://support.google.com/a/answer/2956491 with
`Allowed senders : Only addresses in my domains`
`Authentication : Only accept mail from the specified IP addresses`
`Encryption : Require TLS encryption`

[2022-11-25 08:27] hifabienne commented on #4764
Just allowing the tokens for the management and auth api is no big deal.
What we have to look at is how do we handle roles for that user?
Is the system user allowed to do anything? Do we want to give specific roles?
It is important that we do not count calls with that user to the authenticated requests. Because mostly we will do this calls and we should not bill them to the customers.

@livio-a @f

[2022-11-25 14:17] fforootd commented on #4764
I think we should allow users to create system api uses (keys) which can have a defined scope of instance access.

Something like this:

[code]

[2022-11-25 15:57] mffap commented on #3976
An instance can have unlimited domains, but only one primary domain. Zitadel will respond on all domains as issuer/auth server. Only the primary domain will be used to display links in that instance (eg, password reset etc.).

[2022-11-25 17:27] purplesystems commented on #4537
Upvote!

[2022-11-28 05:05] juergrinaldi commented on #4057
it's still not completely fixed in both (console & customer portal), especially the (primary) buttons.
for example:

here the primary button (Actions) is tab selected:
![image](https://user-images.githubusercontent.com/48990649/204197904-b1ccb18d-3801-49bb-ab33-eb91032582ac.png)

here it is not selected:
![image](https://user-images.githubusercontent.com/48990649/204197979-938fe405-0324-47a0-b849-

[2022-11-28 05:22] juergrinaldi commented on #3914
the screenshot above **is** how I meant it to be arranged.
right now Personal Information is on the far left, but as an admin user (or the like) that's probably not my first concern.

This is how it is right now:
![image](https://user-images.githubusercontent.com/48990649/204199977-c97f064e-182f-4fab-8cc3-2b6103c0459b.png)

[2022-11-28 08:03] adlerhurst commented on #4604
okay thanks. I think we have a timing issue here. Sometimes it works sometimes not. We are working on a much simpler solution but this takes some time.

You should be able to see failed events here: {your-url}/ui/console/failed-events

The easiest solution for the moment is to reset the projection by following these steps, they will trigger zitadel to recompute the projections:

if you use zitadel

[2022-11-28 08:20] #4320 closed

[2022-11-28 09:44] thesephirot commented on #4427
corrected in https://github.com/zitadel/zitadel/pull/4773

[2022-11-28 11:33] adlerhurst opened #4774 "[Design]: prettify object descriptions in action docs"
At the moment the objects in the [actions docs section](https://docs.zitadel.com/docs/apis/actions/objects) are not optimal to read for a developer.

Is there a way to make these docs section more readable?

[2022-11-28 12:43] CMiksche commented on #4604
I followed the steps (did it for `apps2` and `apps3`), but still have the same Issue.

Here is my result:

[code]

[2022-11-28 13:25] peintnermax commented on #4583
The button for changing the email now doubles as sending the initial email.
https://github.com/zitadel/zitadel/pull/4776

[2022-11-28 15:26] hifabienne commented on #4764
I think as soon as we count the authenticated requests in ZITADEL itself, it is also possible to not count the ones made by the system user. Am I right @eliobischof

[2022-11-28 15:36] eliobischof commented on #4764
As long as we can differentiate them for example by a request or response header, it should be no problem.

[2022-11-28 19:51] fforootd commented on #4764
I think we right now can track the source IP. If we turn to netfliy/vercel that might need to change 😁

An easy fix would be to send along a custom http header to identify our traffic.

[2022-11-29 06:30] adlerhurst commented on #4604
hm this looks strange. If you reset the projection the failure count should be 6 if zitadel was failed to reduce an event. Do you get any result if you execute `SELECT name FROM apps3`?

If not please try this one:

1. shutdown zitadel
2. connect to the zitadel database
3. set the schema:
   1. postgres: `SET search_path TO projections;`
   2. crdb: `USE projections;`
4. `TRUNCATE apps3 CASCADE; T

[2022-11-29 06:43] adlerhurst commented on #4604
okay wait a moment I have to check something, which would explain the different behaviour between my installation and yours

[2022-11-29 07:43] adlerhurst commented on #4604
I found a workaround which is not recommend for production use. I'm working on a fix but this might take a bit.

The workaround:

1. shutdown zitadel
2. connect to the zitadel database
3. set the schema:
   1. postgres: `SET search_path TO projections;`
   2. crdb: `USE projections;`
4. the following statements reset all projections you had failed events
[code]
5. restart ZITADEL v2.13.1

[2022-11-29 09:03] lapin-b commented on #4604
The workaround seems to work properly on my installation, though time travelling might not be a good idea, as you've said in the comments of the SQL snippet. :grin:

Nonetheless, accessing `/` redirects to `/ui/console` and finally to `/ui/login/login?...` without any errors. I can complete the login flow to the console, and an external application using Oauth2 with OIDC.

[2022-11-29 09:27] adlerhurst commented on #4604
Happy to hear that 😁 yes it's a huge anti pattern 😅 i will link the branch for this fix as soon as possible

[2022-11-29 09:57] juergrinaldi commented on #4774
![image](https://user-images.githubusercontent.com/48990649/204496470-823845cd-8f15-4b22-89e8-00deb1adbd65.png)

@peintnermax I made the following slight changes:

- margin-left: type: `5px`
- description text:` top: -3px (pos: relative)` &` 0.9rem font-size` & `fontcolor: #aaa `
- required: `font-weight: 600` & `color: #ED6607`

can you change that accordingly? if you have any suggestions, hit me

[2022-11-29 10:16] hifabienne opened #4780 "Org Remove Findings"
I tested the organization remove feature and have some findingts, that are not blocking for merge but should be addressed later.

**Acceptance criteria**
- [x] Add organization remove to the admin api #4917
- [x] When I have deleted an organization, it is still listed in the organization overview with a removed state, if I go to the organization everything under it is not shown (users, projects, e

[2022-11-29 11:33] CMiksche commented on #4604
@adlerhurst After applying the workaround I get a different error: "Es ist ein interner Fehler aufgetreten (Internal)".

`SELECT name FROM apps3;` returns " Management-API, Admin-API, Auth-API, Console" and my own Apps.

`TRUNCATE users5 CASCADE;` and `TRUNCATE login_policies3 CASCADE;` doesn't work on my system because it doesn't exist. Maybe that's the problem with my system?

I also still get t

[2022-11-29 12:23] hifabienne opened #4782 "Console remove organization"
As an administrator I want to be able to remove an existing organisation, so if one of my customers doen't use it anymore I can clean up everything and htey don't have access anymore.

**Acceptance criteria**
- [ ] I am able to remove an organization in the console

[2022-11-29 13:18] adlerhurst commented on #4604
Which version of zitadel do you use? It looks like you are using an older version than v2.13.1

[2022-11-29 13:20] CMiksche commented on #4604
No, the current version:

[code]

But maybe the migrations failed?

[2022-11-30 09:35] adlerhurst opened #4784 "first schedule events issues"
The current implementation of the first schedule events have multiple problems.

The events are not always written at the first system start because many operations happen in parallel: https://discord.com/channels/927474939156643850/1019895518383583323/threads/1047145613176873010

Because the events are written on the system aggregate its not possible to reset projections for single instances.

We

[2022-11-30 09:58] adlerhurst commented on #4604
oh sorry my mistake, if you switched to v2.13.1 after you did the database operations it's possible that the tables did not exist before.

Do you get the error on the login screen? Do you get an error id if you hover over the error?

[2022-11-30 09:59] adlerhurst commented on #4784
also failed events are not written to the `failed_events`-table by the scheduler which makes debugging hard.

[2022-11-30 10:43] CMiksche commented on #4604
I get the error on the login screen directly after visiting the URL - I can't even login.

I only get "An internal error occurred (Internal)", in the URL is the `authRequestID` but no other information is shown - neither in the console nor when I hover or look in the source code of the page.

Systemd also only outputs the messages which I already posted in https://github.com/zitadel/zitadel/issues

[2022-11-30 13:22] virth opened #4788 "[Bug]: Text customization code panel is always clickable"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Describe the bug

The panel that you can use to insert codes into custom texts can be clicked even when you can not see it.

This is really confusing when you don't understand what i

[2022-11-30 13:24] hifabienne commented on #4788
Thanks for your report, we will have a look at it.

[2022-11-30 13:32] virth opened #4789 "[Bug]: Custom text field editing is broken"
### Preflight Checklist

- [X] I could not find a solution in the documentation, the existing issues or discussions
- [X] I have joined the [ZITADEL chat](https://zitadel.com/chat)

### Environment

ZITADEL Cloud

### Describe the bug

When you edit one field and save, another field will be edited as well.

### To reproduce

1. Edit «Passwort Initialisierierung» -> Description
2. Code will be edit

[2022-11-30 14:05] adlerhurst commented on #4604
I think the existing events are not the problem, thats why I think we should try the following:

1. shutdown zitadel
2. delete the schemas for the projections:
[code]
3. create the schemas and required tables by executing these statements:
   -  https://github.com/zitadel/zitadel/blob/v2.13.1/cmd/setup/01_sql/adminapi.sql
   -  https://github.com/zitadel/zitadel/blob/v2.13.1/cmd/setup/01_sql/auth.

[2022-11-30 14:23] adlerhurst commented on #4583
It looks to me like its also a projection problem. If I create a new user with verified email I have to enter a code on first login

[2022-11-30 15:07] juergrinaldi opened #4794 "Timestamp with 'one hour ago' and the like not very viable"
As an admin I want to be able to see what time a user got created, so If I created two users shortly I can see which one was first.

**Acceptance Criteria**
- [ ] I can see the exact timestamp on each user

**Additional Information**
Timestamps displayed like this are not very viable imo: ![console-timestamp01](https://user-images.githubusercontent.com/48990649/204834228-83946a4a-a228-43b6-89a8-db

[2022-11-30 15:07] juergrinaldi opened #4795 "Tables not usable with keyboard only"
As a console user I want to be able to navigate through tables by keyboard to better access all elements of console.

**Acceptance Criterias**
- [ ] I am able to navigate through all tables in ZITADEL console by keyboard
- [ ] I am able to go to the detail of a table entry all by keyboard
- [ ] As first action I can go through the table header¨
- [ ] As next action I go to the selection box and li

[2022-11-30 15:07] juergrinaldi opened #4796 "Console doesn't translate all elements on language switch (missing translations?)"
**Acceptance Critiera**
- [ ] Console UI does only change the translations when i saved the language on my profile, not when I change it

There are some missing tanslations in console, especially the audit trail (but also in subnavigations, on dates and the 'instance' button in the header)

![console-language01](https://user-images.githubusercontent.com/48990649/204840420-d77d61af-ffa4-40eb-8f9f-4

[2022-11-30 15:07] juergrinaldi opened #4797 "Make shortcut for keyboard cheat sheet available for keyboard use (tab)"
As a user of the console I want to be able to access the keyboard shortcuts by keyboard.

**Acceptance Criteria**
- [ ] I can navigate to the "?" button to open the keyboard shortcuts with my keyboard (tab)

**Additional Information**

The Button `? ` is not navigatable with `tab` and with that you can't see the shortcuts when you navigate with keyboard only (ironically).

I'm aware (thanks Max :)

[2022-11-30 15:16] juergrinaldi commented on #4794
Timestamps displayed like this are not very viable imo: ![console-timestamp01](https://user-images.githubusercontent.com/48990649/204834228-83946a4a-a228-43b6-89a8-db191ac7eb15.png)

Reasons is, that is pretty inaccurate, especially if more than one is present and I want to know which one is older.

Solutions:
a) make all timestamp in the regular format, i.e. 12.12. 2022 - 09:30
b) make a tooltip

[2022-11-30 15:37] juergrinaldi commented on #4796
FYI: I added the frontend labe because of the date translations. They are probably frontend related (?)

[2022-11-30 15:40] juergrinaldi commented on #4797
The Button `? ` is not navigatable with `tab` and with that you can't see the shortcuts when you navigate with keyboard only (ironically).

I'm aware (thanks Max :)) that the user can press `?` to see the popup but that's pretty unusual and not very intuitive. (it also might conflict with some screen readers usages)

![console-keyboardshortcuts01](https://user-images.githubusercontent.com/48990649

[2022-11-30 15:40] CMiksche commented on #4604
Now I had to set the rights again:

`GRANT USAGE ON SCHEMA projections,auth,adminapi TO <myuser>;`

And also the ownership of all new tables:

`ALTER TABLE auth.locks OWNER TO <myuser>;`

I started it afterwards and `start-from-init` failed because

[code]

While `start` failed because:

`FEHLER: Relation »projections.instances« existiert nicht (SQLSTATE 42P01)`

But when I try to delete `current_

[2022-11-30 16:01] #2758 closed

[2022-11-30 16:17] mffap commented on #1991
I like the prompt from Stripe. We should take some inspiration from that.

[2022-11-30 18:23] fforootd commented on #4797
CC @peintnermax

[2022-11-30 18:24] fforootd commented on #4796
CC @peintnermax

[2022-11-30 18:24] fforootd commented on #4794
CC @peintnermax

[2022-11-30 18:24] fforootd commented on #4795
CC @peintnermax

[2022-11-30 18:25] fforootd commented on #4789
CC @hifabienne